<div class="container">
  <%= simple_form_for(@datsun_zcar) do |f| %>
  <%= f.error_notification %>
  <br><br><br><br>

  <h2 class="text-center"> JCI's Datsun Zcar Conversion Kit ORDER SHEET </h2>
  <p> Please complete as much information as you can - there are thousands of variations of my kits. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Incomplete or <em> unsigned </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO CODs</b>, personal checks, company checks, credit cards or wire transfers. <b> KITS ARE NOT RETURNABLE.</b> </p>

  <div class="panel panel-default col-md-12">
  <h3 class="text-center">ZCar Info (Before V8)</h3>
   <div class="row">
     <div class="col-md-12">
       <p class="hint"> <b>Vehicle Identification  Number (VIN)</b> is located on the driver's window pillar or body tag on firewall. </p>
    </div>
    <div class="col-md-12">
      <p class="hint"> <b>Rear Axle Ratio:</b> Tag under bolt on rear cover, sometimes shown as a ratio (49/17) - just enter it in. </p>
    </div>
    <div class="col-md-12">
      <p class="hint"><b>Speedo Number:</b> I need the 3 or 4 numbers in fine print near the center of the speedometer. See the arrow.</p>
    </div>
       <div class="col-md-3">
         <h4>ZCar Type</h4>
         <%= f.input :type, label: false, collection: ["240", "260", "280Z", "280ZX"]%>
       </div>
       <div class="col-md-3">
         <h4>Vin#</h4>
         <%= f.input :vin, label: false, placeholder:"Vin #" %>
       </div>
       <div class="col-md-3">
         <h4>Year</h4>
         <%=f.input :year, label: false,  placeholder:"Vin #" %>
       </div>
       <div class="col-md-3">
         <h4>Month Built </h4>
         <%= f.input :month_built, label: false, placeholder:"Month Built", collection: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]%>
       </div>
       <div class="col-md-3">
         <h4>Year Built</h4>
         <%= f.input :year_built, label: false, placeholder:"Year Built"%>
       </div>
       <div class="col-md-3">
         <h4> Engine</h4>
         <%= f.input :engine, label: false, collection: ["Carbureted", "Fuel Injection"]%>
       </div>
       <div class="col-md-3">
         <h4>Trans Type </h4>
          <%= f.input :trans_type, label: false, collection: ["Automatic", "4SP",  "5SP"]%>
       </div>
       <div class="col-md-3">
          <h4>Rear Axle Ratio </h4>
          <%= f.input :rear_axl_ratio, label: false, placeholder:"Rear Axle Ratio"%>
      </div>
      <div class="col-md-3">
           <h4>Tire Size/ Radius</h4>
           <%= f.input :tire_size, label: false, placeholder: ""%>
       </div>
      <div class="col-md-3">
        <h4>Power Steering Type </h4>
        <%= f.input :power_steering, label: false, placeholder: "", collection: ["None", "Rack & Pinion", "Gearbox"]%>
      </div>
      </div>
    </div> <!--panel-->




      <div class="panel panel-default col-md-12">
      <h5 class="text-center"> <strong>ZCar Conversion Kit </strong> </h5>
       <table class="table table-bordered">
         <thead>
           <th>Kit & Goodies</th>
           <th>Monies</th>
           <th>Will Purchase?</th>
           <th>Freight</th>
         </thead>
         <tbody>
           <tr>
             <td class="col-md-4"> ZCar Conversion Kit </td>
             <td class="col-md-4">$695  </td>
             <td class="col-md-4"><strong></strong></td>
             <td> PAID </td>
           </tr>
           <tr>
             <td class="col-md-4"> Tach Calibration </td>
             <td class="col-md-4"> $55 </td>
             <td class="col-md-4"><%= f.collection_radio_buttons :tach_calibration, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4"> Tach Calibration Without Smog </td>
             <td class="col-md-4"> $125 </td>
             <td class="col-md-4"><%= f.collection_radio_buttons :tach_calibration_without_smog, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4"> Ramshorn With Smog </td>
             <td class="col-md-4"> $275 </td>
             <td class="col-md-4"><%= f.collection_radio_buttons :ramshorn_w_smog, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">Ramshorn With EGR  & Smog </td>
             <td class="col-md-4"> $325.00 </td>
             <td class="col-md-4"><%= f.collection_radio_buttons :ramshorn_w_egr_smog, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">Driveshaft All except T400</td>
             <td class="col-md-4"> $165.00 </td>
             <td class="col-md-4"><%= f.collection_radio_buttons :driveshaft_except_t400, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">Driveshaft T400</td>
             <td class="col-md-4"> $205.00</td>
             <td class="col-md-4"> <%= f.collection_radio_buttons :driveshaft_t400, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">Driveshaft Adaptor</td>
             <td class="col-md-4"> $100.00</td>
             <td class="col-md-4"> <%= f.collection_radio_buttons :driveshaft_adaptor, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">Radiator - 4Row- exchange</td>
             <td class="col-md-4"> $245.00</td>
             <td class="col-md-4"> <%= f.collection_radio_buttons :radiator, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">16" Electric Fan w/Shroud</td>
             <td class="col-md-4"> $94.25</td>
             <td class="col-md-4"> <%= f.collection_radio_buttons :electric_fan, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">ELECTROLOCK T700</td>
             <td class="col-md-4"> $85</td>
             <td class="col-md-4"> <%= f.collection_radio_buttons :electrolock_t700, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">Other</td>
             <td class="col-md-4"> </td>
             <td class="col-md-4"> <%= f.collection_radio_buttons :other, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">Credit  (Suggested Buy or Repeat Kits)<br></td>
             <td class="col-md-4">Price <%= f.input :credit_amt, label: false, placeholder:"" %> </td>
             <td class="col-md-4"> Description of Credit <%= f.input :credit_description, label: false, placeholder:"" %></td>
             <td></td>
           </tr>
           <tr>
             <td class="col-md-4">Are you a Texas Resident? </td>
             <td class="col-md-4"> 8.25% sales tax will be added </td>
             <td class="col-md-4"> </td>
             <td>N/A</td>
           </tr>
           <!-- <tr>
             <td class="col-md-4">Freight</td>
             <td class="col-md-4">  </td>
             <td class="col-md-4">  f.collection_radio_buttons :freight, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
           </tr> -->
         </tbody>
       </table>
      </div><!--panel-->

      <br clear="all">

      <div class="panel panel-default col-md-6">
        <h2 class="text-center"> Car Owner Information  </h2>
        <div class="row">
          <div class="col-md-4">
            <h4> Name </h4>
            <%= f.input :car_owner_full_name, label: false,  placeholder:"Full Name" %>
          </div>
          <div class="col-md-4">
            <h4>Address </h4>
            <%= f.input :car_owner_address, label: false,  placeholder:"Address" %>
          </div>
          <div class="col-md-4">
            <h4> City</h4>
            <%= f.input :car_owner_city, label: false,  placeholder:"City" %>
          </div>
          <div class="col-md-4">
            <h4> State</h4>
            <%= f.input :car_owner_state, label: false, collection: ["None", "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"] %>
          </div>
          <div class="col-md-4">
            <h4>Zip </h4>
            <%= f.input :car_owner_zip, label: false,  placeholder:"Zip" %>
          </div>
          <div class="col-md-4">
            <h4>Country </h4>
            <%= f.input :car_owner_country, label: false,  placeholder:"Country" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4>Email </h4>
            <%= f.input :car_owner_email, label: false,  placeholder:"Email" %>
          </div>
          <div class="col-md-4">
            <h4> Home Phone</h4>
            <%= f.input :car_owner_home_phone, label: false,  placeholder:"Don't include symbols, only numbers" %>
          </div>
          <div class="col-md-4">
            <h4> Home Hours </h4>
            <%= f.input :car_owner_home_hours, label: false,  placeholder:"From xx to xx" %>
          </div>
          <div class="col-md-4">
            <h4>Work Phone </h4>
            <%= f.input :car_owner_work_phone, label: false,  placeholder:"(###) ### - ####" %>
          </div>
          <div class="col-md-4">
            <h4> Work  Hours </h4>
            <%= f.input :car_owner_work_hours , label: false,  placeholder:"From xx to xx" %>
          </div>
          <div class="col-md-4">
            <h4>Fax </h4>
            <%= f.input :car_owner_fax, label: false,  placeholder:"(###) ### - ####" %>
          </div>
          <div class="col-md-4">
            <h4> Fax Hours </h4>
            <%= f.input :car_owner_fax_hours , label: false,  placeholder:"From xx to xx" %>
          </div>
          <div class="col-md-8">
            <h4>How did you find us </h4>
            <%= f.input :car_owner_find_us , label: false,  placeholder:"",  priority: [ "Internet" ], collection: [ "Internet", "Magazine", "WOM", "Hybridz", "Shop Referal", "Car Show", "Magazine Article", "Other"] %>
          </div>
          <div class="col-md-12">
            <h4>Which magazine, WOM, Internet or ??? </h4>
            <%= f.input :car_owner_where_find_us , label: false,  placeholder:""%>
          </div>
        </div row>
      </div>

      <div class="panel panel-default col-md-6">
        <h2 class="text-center"> Shop or "Ship To" Information  </h2>
        <br>
        <p> Is the shipping information the same as the car owner information (REQUIRED)  <%= f.collection_radio_buttons :same_information, [[true, 'Yes'] ,[false, 'No']], :first, :last  %>
        </p>
          <div class="row">
            <div class="col-md-4">
              <h4> Name </h4>
              <%= f.input :ship_to_full_name, label: false,  placeholder:"Full Name" %>
            </div>
            <div class="col-md-4">
              <h4>Address </h4>
              <%= f.input :ship_to_address, label: false,  placeholder:"Address" %>
            </div>
            <div class="col-md-4">
              <h4> City</h4>
              <%= f.input :ship_to_city, label: false,  placeholder:"City" %>
            </div>
            <div class="col-md-4">
              <h4> State</h4>
              <%= f.input :ship_to_state, label: false, collection: ["None", "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island","South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming" ] %>
            </div>
            <div class="col-md-4">
              <h4>Zip </h4>
              <%= f.input :ship_to_zip, label: false,  placeholder:"Zip" %>
            </div>
            <div class="col-md-4">
              <h4>Country </h4>
              <%=  f.input :ship_to_country, label: false,  placeholder:"Country" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Email </h4>
              <%= f.input :ship_to_email, label: false,  placeholder:"Email" %>
            </div>
            <div class="col-md-4">
              <h4>Shop Phone </h4>
              <%= f.input :ship_to_phone, label: false,  placeholder:"(###) ### - ####" %>
            </div>
            <div class="col-md-4">
              <h4>Shop Fax </h4>
              <%= f.input :ship_to_fax, label: false,  placeholder:"(###) ### - ####" %>
            </div>
            <div class="col-md-4">
              <h4>Contact Person </h4>
              <%= f.input :ship_to_contact_person, label: false,  placeholder:"Contact Person" %>
            </div>
          </div row>
        </div>

      </div>
        <br clear="all">
        <div class="col-md-12">
          <p> This information is <em><strong> critical</strong></em> to providing you with the right parts the <em> first time!</em> Failure to complete this page <strong> will delay</strong> your order. Please select your accessories layout, compressor and plug, alternator plug, and ignition plug. Black areas on the plugs are closet to you. Please call if you need help. </p>
        </div>
        <br clear="all">


      <div class="col-md-12">
        <p> The E-Type Conversion Kit is the property of John's Cars, Inc., including the design, parts and procedures; All Rights Reserved. Our Conversion parts are for the purchaser's personal use and not to be duplicated in whole or in part even if altered. Please check with local authorities regarding emission controls where required. John's Cars, Inc. assumes no liability regarding purchaser's installation or use. </p>
         <h4>Additional comments or notes </h4>
         <%= f.input :comments, label: false, placeholder:"" %>

        <%= f.submit "PRINT ORDER", { class: 'btn btn-danger btn-lg btn-block' }%>
           <br>
           <br>
       </div>
      <% end %>
</div>
