<div class="print-form">

<h3 class="text-center"> JCI V6 TR7 CONVERSION KIT ORDER SHEET </h3>

<div class="col-xs-12 printable-table">
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th><strong>CAR OWNER INFORMATION</strong> </th>
        <th><strong>SHOP OR "SHIP TO" INFORMATION</strong>  </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ><em>Name: </em><b><%= @datsun_zcar.car_owner_full_name %></b> </td>
        <td> <em>Name: </em><b><%= @datsun_zcar.ship_to_full_name %></b> </td>
      </tr>
      <tr>
        <td><em>Address: </em><b> <%= @datsun_zcar.car_owner_address %> <br> <%= @datsun_zcar.car_owner_city %>,
          <% if @datsun_zcar.car_owner_state == "None" %>
            <%= @datsun_zcar.car_owner_zip %>   <%= @datsun_zcar.car_owner_country %></b>
          <% else %>
            <%= @datsun_zcar.car_owner_state %> <%= @datsun_zcar.car_owner_zip %>,   <%= @datsun_zcar.car_owner_country %></b>
          <% end %>
        </td>
        <td><em>Address: </em><b> <%= @datsun_zcar.ship_to_address %> <br> <%= @datsun_zcar.ship_to_city %>,
          <% if @datsun_zcar.ship_to_state == "None" %>
            <%= @datsun_zcar.ship_to_zip %>   <%= @datsun_zcar.ship_to_country %></b>
          <% else %>
            <%= @datsun_zcar.ship_to_state %>  </b><%= @datsun_zcar.ship_to_zip %>,   <%= @datsun_zcar.ship_to_country %></b>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><em>Email: </em> <b><%= @datsun_zcar.car_owner_email %></b></td>
        <td><em>Email: </em> <b><%= @datsun_zcar.ship_to_email %></b></td>
      </tr>
      <tr>
        <td><em> Home Phone: </em>
            <b> <%= @datsun_zcar.car_owner_home_phone  %></b>
         <em>From: </em><b>  <%= @datsun_zcar.car_owner_home_hours %></b> </td>
        <td> <em> Shop Phone: </em>
            <b><%= @datsun_zcar.ship_to_phone  %></b>
        </td>
      </tr>
      <tr>
        <td> <em>Work Phone: </em>
            <b><%= @datsun_zcar.car_owner_work_phone  %></b>
          <em>From: </em><b> <%= @datsun_zcar.car_owner_work_hours%></b> </td>
        <td><em>Fax: </em>
            <b> <%= @datsun_zcar.ship_to_fax %></b>
        </td>
      </tr>
      <tr>
        <td> <em> Fax: </em>
            <b> <%= @datsun_zcar.car_owner_fax %> </b>
          <em>From: </em> <b> <%= @datsun_zcar.car_owner_fax_hours %></b></td>
          <td><em>How did you find us? </em><b> <%= @datsun_zcar.car_owner_find_us %> </b> <em> -- </em><b> <%= @datsun_zcar.car_owner_where_find_us %></b></td>
      </tr>
    </tbody>
  </table>
</div>
  <div class="col-xs-6 printable-table">
    <h5 class="center"> <b>TR7 Information (Before V8)</b> </h5>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="col-xs-4"><em> <b>Type:</b> </em></td>
          <td class="col-xs-4"></td>
          <td class="col-xs-4"> <%=@datsun_zcar.datsun_type%></td>
        </tr>
        <tr>
          <td><b><em>Info: </b></em> </td>
          <td><em>VIN:</em> </td>
          <td> <%=@datsun_zcar.vin%></td>
        </tr>
        <tr>
          <td></td>
          <td><em>Year:</em> </td>
          <td> <%= @datsun_zcar.year%></td>
        </tr>
        <tr>
          <td></td>
          <td><em>Month Built: </em></td>
          <td> <%= @datsun_zcar.month_built%></td>
        </tr>
        <tr>
          <td></td>
          <td><em>Year Built: </em> </td>
          <td> <%= @datsun_zcar.year_built%></td>
        </tr>
        <tr>
          <td><b><em>Engine: </em> </b></td>
          <td> </td>
          <td><%=@datsun_zcar.engine%></td>
        </tr>
        <tr>
          <td><b><em>Transmission Type: </em> </b> </td>
          <td></td>
          <td><%= @datsun_zcar.trans_type%></td>
        </tr>
        <tr>
          <td><b><em>Rear Axle Ratio:</em></b></td>
          <td></td>
          <td>
            <%=@datsun_zcar.rear_axl_ratio%></td>
          </td>
        </tr>
        <tr>
          <td><b><em>Tire Size/ Radius: </b></em> </td>
          <td></td>
          <td><%=@datsun_zcar.tire_size%></td>
        </tr>
        <tr>
          <td><b><em>Power Steering Type </b></em> </td>
          <td></td>
          <td><%=@datsun_zcar.power_steering%></td>
        </tr>
      </tbody>
    </table>
    <p> Comments: <%= @datsun_zcar.comments%> </p>
    <p> <%= @datsun_zcar.other %> </p>
  </div>


  <div class="col-xs-6 printable-table">
    <h5 class="center"> Monies</h5>
    <table class="table table-bordered ">
      <thead>
        <th>Kit & Goodies</th>
        <th>Monies</th>
        <th>Freight</th>
      </thead>
      <tbody>
        <tr>
          <td>ZCar Conversion Kit </td>
          <td>$<%= @datsun_zcar.zcar_kit %></td>
          <td></td>
        </tr>
        <tr>
          <td >Tach Calibration</td>
          <td >$<%= @datsun_zcar.tach_calibration_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td >Tach Calibration Without Smog </td>
          <td >$<%= @datsun_zcar.tach_calibration_without_smog_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td>Ramshorn With Smog</td>
          <td>$<%= @datsun_zcar.ramshorn_w_smog_amt%></td>
          <td></td>
        </tr>
        <tr>
          <td >Ramshorn With EGR  & Smog </td>
          <td >$<%= @datsun_zcar.ramshorn_w_egr_smog_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td >Driveshaft All except T400 </td>
          <td >$<%= @datsun_zcar.driveshaft_except_t400_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td >Driveshaft T400  </td>
          <td >$<%= @datsun_zcar.driveshaft_t400_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td >Driveshaft Adaptor </td>
          <td >$<%= @datsun_zcar.driveshaft_adaptor_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td >Radiator - 4Row- exchange</td>
          <td >$<%= @datsun_zcar.radiator_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td >16" Electric Fan w/Shroud</td>
          <td >$<%= @datsun_zcar.electric_sfan_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td >ELECTROLOCK T700</td>
          <td >$<%= @datsun_zcar.electrolock_t700_amt %></td>
          <td></td>
        </tr>
        <!-- <tr>
          <td >Other </td>
          <td >= @datsun_zcar.other %></td>
          <td></td>
        </tr> -->
        <tr>
          <td >Credit</td>
          <td > - $<%= @datsun_zcar.credit_amt %></td>
          <td></td>
        </tr>
        <tr>
          <td >Subtotal (Parts are freight paid 48 states only)</td>
          <td >$<%= @datsun_zcar.subtotal %></td>
          <td></td>
        </tr>
        <tr>
          <td >Texas Residents 8.25% Sales Tax +</td>
          <td >$ <%=@datsun_zcar.sales_tax %></td>
          <td></td>
        </tr>
        <!-- <tr>
          <td >Freight</td>
          <td >$= @datsun_zcar.freight %></td>
        </tr> -->
        <tr>
          <td><b>CASHIER'S CHECK = </b></td>
          <td ><b>$<%= @datsun_zcar.total %></b></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  </div>


<div class="col-xs-12">

  <p> Signature _____________________________________________________ Date________________</p>
</div>


<div class="col-xs-12 text-center">
    <p class="small-text">JOHN'S CARS, INC. | 800 JAGUAR LANE | DALLAS, TEXAS 75226
      <br> www.johnscars.com | Fax (214) 426-3116 | (214) 426-4100</p>
  </div>
</div>

<div class="pdf-page-break-before"></div>
<div class="print-form page-break-before printable-table">
    <p class="center "> Chevy V8 Driveline Info </p>
      <table class="table table-bordered printable-table">
        <tbody>
          <tr>
            <td> <em> Engine:</em> <b> <%= @datsun_zcar.driveline_engine%> </b> </td>
            <td> <em> Engine Year:</em> <b> <%= @datsun_zcar.driveline_year%> </b> </td>
            <td> <em> Engine CID:</em> <b> <%= @datsun_zcar.driveline_cid%> </b> </td>
          </tr>
          <tr>
            <% if  @datsun_zcar.donar_car_other.present? %>
              <td> <em> Donor Car:</em> <b> <%= @datsun_zcar.donar_car_other%> </b> </td>
            <% else %>
              <td> <em> Donor Car:</em> <b> <%= @datsun_zcar.donar_car%> </b> </td>
            <% end %>
            <td> <em> Transmission: </em> <b> <%= @datsun_zcar.driveline_trans%> </b></td>
            <td> <em> Trans Year: </em> <b> <%= @datsun_zcar.driveline_trans_year%> </b></td>
          </tr>
          <tr>
            <td> <em>Tailhousing Length:</em> <b> <%= @datsun_zcar.tailhousing_length%> </b></td>
            <td> <em>How did you get your Trans?</em> <b> <%= @datsun_zcar.how_get_trans%> </b></td>
            <td><em>A/C Refrigerant:</em>
              <% if @datsun_zcar.ac_refrigerant_other.present? %>
                <b><%= @datsun_zcar.ac_refrigerant_other%></b>
              <% else %>
                <b><%= @datsun_zcar.ac_refrigerant%></b>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><em>Battery Type:</em><b><%= @datsun_zcar.battery_type%></b></td>
            <td><em>Fan Belts:</em><b><%= @datsun_zcar.fan_belts%></b></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered printable-table">
        <tbody>
          <tr>
            <td><em>Front View</em><b>
              <% if @datsun_zcar.some_carb_v8 == true %>
                <%= wicked_pdf_image_tag("some_carb_v8.png") %>
              <% elsif @datsun_zcar.most_carb_v8 == true %>
                <%= wicked_pdf_image_tag("most_carb_v8.png") %>
              <% elsif @datsun_zcar.truck_tbi == true %>
                <%= wicked_pdf_image_tag("truck_tbi.png") %>
              <% elsif @datsun_zcar.camaro_lt1 == true %>
                <%= wicked_pdf_image_tag("camaro_lt1.png") %>
              <% elsif @datsun_zcar.corvette_lt4 == true %>
                <%= wicked_pdf_image_tag("corvette_lt4.png") %>
              <% elsif @datsun_zcar.other_front_view == true %>
                Draw your Front View here:
                <%= wicked_pdf_image_tag("other_front_view.png") %>
              <% else %>
              <% end %>
              </b></td>
            <td><em>Compressor Type</em>
              <b>
                <% if @datsun_zcar.compressor_a6 == true %>
                  <%= wicked_pdf_image_tag("compressor_a6.png") %>
                <% elsif @datsun_zcar.compressor_r4 == true %>
                  <%= wicked_pdf_image_tag("compressor_r4.png") %>
                <% elsif @datsun_zcar.compressor_da6 == true %>
                  <%= wicked_pdf_image_tag("compressor_da6.png") %>
                <% elsif @datsun_zcar.compressor_nd == true %>
                  <%= wicked_pdf_image_tag("compressor_nd.png") %>
                <% else %>
                <% end %>
              </b>
            </td>
            <td><em>Plug on Front of Compressor</em>
              <b>
                <% if @datsun_zcar.plug_a6 == true %>
                  <%= wicked_pdf_image_tag("plug_a6.png") %>
                <% elsif @datsun_zcar.plug_r4 == true %>
                  <%= wicked_pdf_image_tag("plug_r4.png") %>
                <% elsif @datsun_zcar.plug_da6 == true %>
                  <%= wicked_pdf_image_tag("plug_da6.png") %>
                <% elsif @datsun_zcar.plug_nd == true %>
                  <%= wicked_pdf_image_tag("plug_nd.png") %>
                <% else %>
                <% end %>
              </b>
            </td>
          </tr>
          <tr>
            <td><em>Alternator Plug</em>
              <b>
                <% if @datsun_zcar.alternator_plug_type2 == true %>
                  <%= wicked_pdf_image_tag("alternator_plug_type2.png") %>
                <% elsif @datsun_zcar.alternator_plug_type3 == true %>
                  <%= wicked_pdf_image_tag("alternator_plug_type3.png") %>
                <% else %>
                <% end %>
              </b>
            </td>
            <td><em>HEI Ignition Plug</em>
              <b>
                <% if @datsun_zcar.ignition_plug_type2 == true %>
                  <%= wicked_pdf_image_tag("ignition_plug_type2.png") %>
                <% elsif @datsun_zcar.ignition_plug_type3 == true %>
                  <%= wicked_pdf_image_tag("ignition_plug_type3.png") %>
                <% else %>
                <% end %>
              </b>
            </td>
          </tr>
        </tbody>
      </table>

      <br clear="all">

      <p class="center"> Engine</p>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><em> Fuel Injection Type:</em>
            <% if @datsun_zcar.engine_fuel_injection_other.present? %>
              <b><%=@datsun_zcar.engine_fuel_injection_other %></b></td>
            <% else %>
              <b><%=@datsun_zcar.engine_fuel_injection %></b></td>
            <% end %>
            <td><em> Donor Car:</em>
            <% if @datsun_zcar.engine_donor_car_other.present? %>
              <b><%=@datsun_zcar.engine_donor_car_other %></b></td>
            <% else %>
              <b><%=@datsun_zcar.engine_donor_car %></b></td>
            <% end %>
            <td><em> TPI and LT-1 Only:</em> <b><%=@datsun_zcar.engine_tpi_lt1 %></b></td>
          </tr>
          <tr>
            <td> LT-1 Only<em> Size of purge nipple:</em> <b><%=@datsun_zcar.engine_purge_size %></b></td>
            <td>LT-1 Only <em> PS Pump location: </em> <b><%=@datsun_zcar.engine_ps_pump_location %></b></td>
            <td>LT-1 Only <em> PS Pump outlet direction: </em> <b><%=@datsun_zcar.engine_ps_pump_outlet %></b></td>
          </tr>
          <tr>
            <td>Corvette Motor Only<em> Thread size at pump:</em> <b><%=@datsun_zcar.engine_corvette_nut_size %></b></td>
            <td>Corvette Motor Only<em> Diameter at water pump:</em>  <b><%=@datsun_zcar.engine_corvette_diameter %></b></td>
            <td>TBI Motor Only <em>Thermostat Housing Outlet points towards</em> <b><%=@datsun_zcar.engine_tbi_thermostat %></b></td>
          </tr>
        </tbody>
      </table>

      <p class="center"> Accessories</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><em> Fans:</em> <b><%=@datsun_zcar.accessories_fan %></b></td>
            <td><em> Water Pump:</em> <b><%=@datsun_zcar.accessories_water_pump %></b></td>
            <td><em> Fan Belts:</em> <b><%=@datsun_zcar.accessories_fan_belts %></b></td>
          </tr>
          <tr>
            <td><em> Air pump (smog pump):</em> <b><%=@datsun_zcar.accessories_air_pump %></b></td>
            <td><em> Valve Covers:</em> <b><%=@datsun_zcar.accessories_valve_covers %></b></td>
            <td><em> A/C Refrigerant:</em>  <b><%=@datsun_zcar.accessories_ac_refrigerant %></b></td>
          </tr>
        </tbody>
      </table>
  <p class="center"> Miscellaneous</p>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><em>FI harness:</em>
          <% if @datsun_zcar.miscellaneous_fi_harness_other.present? %>
            <b><%=@datsun_zcar.miscellaneous_fi_harness_other %></b></td>
          <% else %>
            <b><%=@datsun_zcar.miscellaneous_fi_harness %></b></td>
          <% end %>
          <td><em>Oil Pressure Safety Switch:</em>
          <% if @datsun_zcar.miscellaneous_oil_switch == true %>
             <b>Yes </b></td>
          <% else %>
           <b> No </b></td>
          <% end %>
          <td><em>T700 Lockup </em> <b><%= @datsun_zcar.miscellaneous_t700_lockup %></b> </td>
        </tr>
        <tr>
          <td><em>Ignition</em>
          <% if @datsun_zcar.miscellaneous_ignition_other.present? %>
             <b><%= @datsun_zcar.miscellaneous_ignition_other %></b> </td>
          <% else %>
             <b><%= @datsun_zcar.miscellaneous_ignition %></b> </td>
          <% end %>

          <td><em>VSS/ Speedo Type:</em>
            <% if @datsun_zcar.miscellaneous_speedo_type == "Type 1" %>
              <b> Type 1 </b></td>
            <% else %>
              <b> Type 2 </b></td>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

</div>
