<div class="container">
  <%= simple_form_for(@tr7) do |f| %>
  <%= f.error_notification %>

  <h2 class="text-center"> JOHN'S CARS V6 TR7 CONVERSION KIT ORDER SHEET </h2>
  <p> Please complete as much information as you can - there are thousands of variations of my V6 TR7 kits. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Incomplete or <em><strong> unsigned</strong> </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO COD's</b>, personal checks, company checks, credit cards or wire transferes. <b> KITS ARE NOT RETURNABLE.</b> </p>

  <div class="panel panel-default col-md-6">
  <h2 class="text-center">TR7 Information (Before V6)</h2>
   <div class="row">
       <div class="col-md-12">
         <p class="p-form"> The Vehicle Identification Number (VIN) is located on window pillar or base on windshield in front of driver's door. </p>
         <p>Year/ Month are located on the driver's door or jamb.</p>
       </div>
       <div class="col-md-4">
         <h4>Model Year</h4>
         <%= f.input :tr7s_year, label: false, placeholder:"Year", collection: ["1975", "1976", "1977", "1978", "1979", "1980", "1981"]%>
       </div>
       <div class="col-md-4">
         <h4>Type </h4>
         <%= f.input :tr7s_type, label: false, placeholder:"Type",  collection: ["Coupe", "Convertible"]%>
       </div>
       <div class="col-md-4">
         <h4>VIN #</h4>
         <%=f.input :tr7s_vin , label: false,  placeholder:"" %>
      </div>
     <div class="col-md-4">
          <h4>Month Built </h4>
          <%= f.input :tr7s_month_built, label: false, placeholder:"Month Built", collection: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
          %>
      </div>
     <div class="col-md-4">
          <h4>Year Built </h4>
          <%= f.input :tr7s_year_built, label: false, placeholder: "Year Built", collection: ["1975", "1976", "1977", "1978", "1979", "1980", "1981"]%>
      </div>
    </div row>
    <div class="row">
      <div class="col-md-6">
           <h4>Engine </h4>
           <%= f.input :tr7s_engine, label: false, placeholder: "Engine", collection: ["Carbureted", "Fuel Injected"]%>
       </div>
       <div class="col-md-6">
            <h4>Transmission Type </h4>
            <%= f.input :tr7s_transmission_type, label: false, placeholder: "", collection: ["Automatic", "4SP", "5SP"]%>
        </div>
       </div row>
       <br>

       <div class="row">
         <div class="col-md-6">
              <h4>Tire Size/Radius </h4>
              <%= f.input :tr7s_tire_size, label: false, placeholder: "Tire Radius" %>
          </div>
          <div class="col-md-6">
               <h4>Rear Axle Ratio</h4>
               <%= f.input :tr7s_rear_axle_ratio, label: false, placeholder: "", collection: ["308", "327", "345", "363", "391", "Drop out 3rd memeber", "Other - fill out in next box"]%>
           </div>
           <div class="col-md-12">
                <h4>Other Rear Axle Ratio</h4>
                <%= f.input :other_rear_axle_ratio, label: false, placeholder: "if your rear axle ratio isn't listed above, please list it here"%>
            </div>

           <div class="col-md-6">
             <h4> Expansion Tank </h4>
             <%= f.collection_radio_buttons :tr7s_expansion_tank, [[true, 'Yes'], [false, 'No']], :first, :last %>
           </div>
           <div class="col-md-6">
              <h4>A/C </h4>
              <%= f.collection_radio_buttons :tr7s_ac, [[true, 'Yes'], [false, 'No']], :first, :last%>
            </div>
         </div>



 </div><!--panel-->

 <div class="panel panel-default col-md-6">
   <h2 class="text-center">Buick V6 Driveline Information</h2>
   <div class="row">
     <div class="col-md-4">
       <h4> Engine </h4>
       <%= f.input :buick_v6_engine, label: false, placeholder: "Engine", collection: ["Carb", "Fuel Injection"]%>
     </div>
     <div class="col-md-4">
        <h4>Year </h4>
        <%= f.input :buick_v6_year, label: false, placeholder: "Year"%>
    </div>
        <div class="col-md-4">
          <h4> CID </h4>
          <%= f.input :buick_v6_cid, label: false, placeholder: "CID" %>
        </div>
      </div>

 <h3 class="text-center"> MONIES </h3>
  <table class="table table-bordered">
    <tbody>
      <td class="col-md-4"> TR7 Kit </td>
      <td class="col-md-4"> </td>
      <td class="col-md-4"><strong> $895.00 </strong></td>
      <tr>
        <td class="col-md-4">A/C Hoses </td>
        <td class="col-md-4"> $75.00 </td>
        <td class="col-md-4"><%= f.collection_radio_buttons :ac_hoses, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
      </tr>
      <tr>
        <td class="col-md-4">JCI Headers </td>
        <td class="col-md-4"> $295.00 </td>
        <td class="col-md-4"><%= f.collection_radio_buttons :jci_headers, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
      </tr>
      <tr>
        <td class="col-md-4">3800 Headers </td>
        <td class="col-md-4"> $345.00 </td>
        <td class="col-md-4"><%= f.collection_radio_buttons :headers_3800, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
      </tr>
      <tr>
        <td class="col-md-4">Fuel Injection V6 </td>
        <td class="col-md-4"> $100.00 </td>
        <td class="col-md-4"><%= f.collection_radio_buttons :fuel_injection_vc, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
      </tr>
      <tr>
        <td class="col-md-4">Driveshaft Adaptor (4-sp rear) </td>
        <td class="col-md-4"> $125.00 </td>
        <td class="col-md-4"><%= f.collection_radio_buttons :driveshaft_adaptor, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
      </tr>
      <tr>
        <td class="col-md-4">ELECTROLOCK </td>
        <td class="col-md-4"> $115.00 </td>
        <td class="col-md-4"><%= f.collection_radio_buttons :electrolock, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
      </tr>
      <tr>
        <td class="col-md-4">Other </td>
        <td class="col-md-4"> (Please itemize in comments)  </td>
        <td class="col-md-4"><%= f.input :other_kit_options, label: false, placeholder: ""%> </td>
      </tr>
      <tr>
        <td class="col-md-4">Credit <small> (Suggested Buy or Repeat Kits) <br>* Price is Required (if no credit put "0")</small> </td>
        <td class="col-md-4"> Price <%= f.input :credit_amt, label:false, placeholder: "Required, positive number"%> </td>
        <td class="col-md-4"> Credit Description<%= f.input :credit_description, label: false, placeholder:"Credit Description" %></td>
      </tr>
      <tr>
        <td class="col-md-4">Are you a Texas Resident? </td>
        <td class="col-md-4"> Add Sales Tax -- 8.25% </td>
        <td class="col-md-4">  </td>
      </tr>
      <!-- <tr>
        <td class="col-md-4">Freight </td>
        <td class="col-md-4"> </td>
        <td class="col-md-4"> <f.collection_radio_buttons :freight, [[true, 'Yes'], [false, 'No']], :first, :last%> </td>
      </tr> -->
    </tbody>
  </table>
</div>
<br clear="all">


     <div class="panel panel-default col-md-6">
    <h2 class="text-center"> Car Owner Information  </h2>
    <div class="row">
      <div class="col-md-4">
        <h4> Name </h4>
        <%= f.input :car_owner_full_name, label: false,  placeholder:"Full Name" %>
      </div>
      <div class="col-md-4">
        <h4>Address </h4>
        <%= f.input :car_owner_address, label: false,  placeholder:"Address" %>
      </div>
      <div class="col-md-4">
        <h4> City</h4>
        <%= f.input :car_owner_city, label: false,  placeholder:"City" %>
      </div>
      <div class="col-md-4">
        <h4> State</h4>
        <%= f.input :car_owner_state, collection: ["None", "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming" ], label: false,  placeholder:"State" %>
      </div>
      <div class="col-md-4">
        <h4>Zip </h4>
        <%= f.input :car_owner_zip, label: false,  placeholder:"Zip" %>
      </div>
      <div class="col-md-4">
        <h4>Country </h4>
        <%= f.input :car_owner_countr, label: false,  placeholder:"Country" %>
      </div>


      <div class="col-md-4">
        <h4>Email </h4>
        <%= f.input :car_owner_email, label: false,  placeholder:"Email" %>
      </div>
      <div class="col-md-4">
        <h4> Home Phone</h4>
        <%= f.input :car_owner_home_phone, label: false,  placeholder:"(###) ### - ####" %>
      </div>
      <div class="col-md-4">
        <h4> Home Hours </h4>
        <%= f.input :car_owner_home_hours, label: false,  placeholder:"From xx to xx" %>
      </div>
      <div class="col-md-4">
        <h4>Work Phone </h4>
        <%= f.input :car_owner_work_phone, label: false,  placeholder:"(###) ### - ####" %>
      </div>
      <div class="col-md-4">
        <h4> Work  Hours </h4>
        <%= f.input :car_owner_work_hours , label: false,  placeholder:"From xx to xx" %>
      </div>
      <div class="col-md-4">
        <h4>Fax </h4>
        <%= f.input :car_owner_fax, label: false,  placeholder:"(###) ### - ####" %>
      </div>
      <div class="col-md-6">
        <h4> Fax Hours </h4>
        <%= f.input :car_owner_fax_hours , label: false,  placeholder:"From xx to xx" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>How did you find us </h4>
        <%= f.input :car_owner_find_us , label: false,  placeholder:"",  priority: [ "Internet" ], collection: [ "Internet", "Magazine", "WOM", "Hybridz", "Shop Referal", "Car Show", "Magazine Article", "Other"] %>
      </div>
      <div class="col-md-6">
        <h4>Which magazine, WOM, Internet or ??? </h4>
        <%= f.input :car_owner_where_find_us , label: false,  placeholder:""%>
      </div>
    </div row>
  </div>

  <div class="panel panel-default col-md-6">
      <h2 class="text-center"> Shop or "Ship To" Information  </h2>
      <br>
      <p> Is the shipping information the same as the car owner information (REQUIRED)</p>
      <%= f.collection_radio_buttons :same_information, [[true, 'Yes'] ,[false, 'No']], :first, :last  %> </p>
      <div class="row">
        <div class="col-md-4">
          <h4> Name </h4>
          <%= f.input :ship_to_full_name, label: false,  placeholder:"Full Name" %>
        </div>
        <div class="col-md-4">
          <h4>Address </h4>
          <%= f.input :ship_to_address, label: false,  placeholder:"Address" %>
        </div>
        <div class="col-md-4">
          <h4> City</h4>
          <%= f.input :ship_to_city, label: false,  placeholder:"City" %>
        </div>
        <div class="col-md-4">
          <h4> State</h4>
          <%= f.input :ship_to_state,  collection: ["None", "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island","South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming" ] , label: false,  placeholder:"State" %>
        </div>
        <div class="col-md-4">
          <h4>Zip </h4>
          <%= f.input :ship_to_zip, label: false,  placeholder:"Zip" %>
        </div>
        <div class="col-md-4">
          <h4>Country </h4>
          <%= f.input :ship_to_countr, label: false,  placeholder:"Country" %>
        </div>

        <div class="col-md-4">
          <h4>Email </h4>
          <%= f.input :ship_to_email, label: false,  placeholder:"Email" %>
        </div>
        <div class="col-md-4">
          <h4>Shop Phone </h4>
          <%= f.input :ship_to_phone, label: false,  placeholder:"(###) ### - ####" %>
        </div>
        <div class="col-md-4">
          <h4>Shop Fax </h4>
          <%= f.input :ship_to_fax, label: false,  placeholder:"(###) ### - ####" %>
        </div>
        <div class="col-md-4">
          <h4>Contact Person </h4>
          <%= f.input :ship_to_contact_person, label: false,  placeholder:"Contact Person" %>
        </div>
      </div row>
    </div>


    <div class="col-md-12">
        <p> The V6 TR7 Conversion kit is the  property of John's Cars, Inc., including the design, parts and procedures; All Rights Reserved. This Conversion Kit is for the purchaser's personal use and not to be duplicated in whole or in part even if altered. Please check with local authorities regarding emission controls where required. John's Cars, Inc. assumes no liability regarding purchaser's installation or use. </p>
       <h4>Additional comments or notes </h4>
        <%= f.input :comments, label: false, placeholder:"" %>
           <%= f.submit "Submit Order" %>
     </div>

  <% end %>
  <br>
  <br>
</div>
