<div class="hidden-print">
  <%= link_to "Edit", edit_tr7_path(@tr7.id) %>
</div>

<div class="print-form">

<h3 class="text-center"> JCI V6 TR7 CONVERSION KIT ORDER SHEET </h3>
<p class="text-center small-text">Please complete as much information as you can - there are thousands of variations of my Jaguar kits. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Incomplete or <em> unsigned </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO COD's</b>, personal checks, company checks, credit cards or wire transferes. <b> KITS ARE NOT RETURNABLE.</b> </p>

<div class="col-xs-12 printable-table">
  <% if @tr7.same_information == false || nil  %>
  <table class="table table-bordered ">
    <tbody>
      <tr>
        <td>CAR OWNER INFORMATION </td>
        <td>SHOP OR "SHIP TO" INFORMATION  </td>
      </tr>
      <tr>
        <td ><em>Name: </em><b><%= @tr7.car_owner_full_name %></b> </td>
        <td> <em>Name: </em><b><%= @tr7.ship_to_full_name %></b> </td>
      </tr>
      <tr>
        <td><em>Address: </em><b> <%= @tr7.car_owner_address %> <br> <%= @tr7.car_owner_city %>,
          <% if @tr7.car_owner_state == "None" %>
            <%= @tr7.car_owner_zip %>   <%= @tr7.car_owner_countr %></b>
          <% else %>
            <%= @tr7.car_owner_state %> <%= @tr7.car_owner_zip %>,   <%= @tr7.car_owner_countr %></b>
          <% end %>
        </td>
        <td><em>Address: </em><b> <%= @tr7.ship_to_address %> <br> <%= @tr7.ship_to_city %>,
          <% if @tr7.ship_to_state == "None" %>
            <%= @tr7.ship_to_zip %>   <%= @tr7.ship_to_countr %></b>
          <% else %>
            <%= @tr7.ship_to_state %>  </b><%= @tr7.ship_to_zip %>,   <%= @tr7.ship_to_countr %></b>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><em>Email: </em> <b><%= @tr7.car_owner_email %></b></td>
        <td><em>Email: </em> <b><%= @tr7.ship_to_email %></b></td>
      </tr>
      <tr>
        <td><em> Home Phone: </em><b> <%= @tr7.car_owner_home_phone %></b> <em>From: </em><b>  <%= @tr7.car_owner_home_hours %></b> </td>
        <td> <em> Shop Phone: </em><b><%= @tr7.ship_to_phone %></b> </td>
      </tr>
      <tr>
        <td> <em>Work Phone: </em><b><%= @tr7.car_owner_work_phone %></b> <em>From: </em><b> <%= @tr7.car_owner_work_hours%></b> </td>
        <td><em>Fax: </em><b> <%= @tr7.ship_to_fax %></b> </td>
      </tr>
      <tr>
        <td> <em> Fax: </em><b> <%= @tr7.car_owner_fax %> </b> <em>From: </em> <b> <%= @tr7.car_owner_fax_hours %></b></td>
          <td><em>How did you find us? </em><b> <%= @tr7.car_owner_find_us %> </b> <em> -- </em><b> <%= @tr7.car_owner_where_find_us %></b></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <table class="table table-bordered ">
    <tbody>
      <tr>
        <td>CAR OWNER INFORMATION </td>
      </tr>
      <tr>
        <td><em>Name: </em> <b><%= @tr7.car_owner_full_name %></b> </td>
      </tr>
      <tr>
        <td><em>Address: </em> <b> <%= @tr7.car_owner_address %> <br> <%= @tr7.car_owner_city %>,
          <% if @tr7.car_owner_state == "None" %>
            <%= @tr7.car_owner_zip %>   <%= @tr7.car_owner_countr %></b>
          <% else %>
            <%= @tr7.car_owner_state %> <%= @tr7.car_owner_zip %>,   <%= @tr7.car_owner_countr %></b>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><em>Email: </em> <b><%= @tr7.car_owner_email %></b> </td>
      </tr>
      <tr>
        <td><em>Home Phone: </em> <b>   <%= @tr7.car_owner_home_phone %> </b> <em>From:</em>  <b><%= @tr7.car_owner_home_hours %> </b></td>
      </tr>
      <tr>
        <td> <em>Work Phone: </em> <b><%= @tr7.car_owner_work_phone %></b> <em>From: </em> <b> <%= @tr7.car_owner_work_hours%> </b></td>
      </tr>
      <tr>
        <td>  <em>Fax: </em>  <b><%= @tr7.car_owner_fax %></b> <em>From: </em> <b> <%= @tr7.car_owner_fax_hours %></b></td>
      </tr>
      <tr>
        <td><em>How did you find us? </em> <b><%= @tr7.car_owner_find_us %></b><em> -- </em><b> <%= @tr7.car_owner_where_find_us %> </b></td>
      </tr>
    </tbody>
  </table>

<% end %>
</div>



  <div class="col-xs-6 printable-table">
    <h5 class="center"> TR7 Information (Before V8) </h5>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <% if @tr7.tr7s_type == "Other - fill out in next box" %>
            <td><em>Type: </em> <b> <%=@tr7.other_type%></b></td>
          <% else %>
            <td><em>Type: </em> <b> <%=@tr7.tr7s_type%></b></td>
          <% end %>
          <td><em>Year: </em> <b> <%= @tr7.tr7s_year%></b></td>
        </tr>
        <tr>
          <td> <em>VIN:</em> <b> <%=@tr7.tr7s_vin%></b></td>
        </tr>
        <tr>
          <td><em>Month Built: </em> <b> <%= @tr7.tr7s_month_built%></b></td>
          <td><em>Year Built: </em> <b> <%= @tr7.tr7s_year_built%></b></td>
        </tr>
        <tr>
          <td><em>Engine: </em> <b><%=@tr7.tr7s_engine%></b></td>
          <td><em>Transmission Type: </em> <b> <%= @tr7.tr7s_transmission_type%></b></td>
        </tr>
        <tr>
          <td><em>AC: </em>
            <% if @tr7.tr7s_ac == true%>
              <b>Yes</b>
            <% else %>
              <b>No</b>
            <% end %>
          </td>
          <% if @tr7.tr7s_rear_axle_ratio == "Other - fill out in next box" %>
            <td><em>Rear Axle Ratio: </em> <b><%=@tr7.other_rear_axle_ratio%></b></td>
          <% else %>
          <td><em>Rear Axle Ratio: </em> <b><%=@tr7.tr7s_rear_axle_ratio%></b></td>
          <% end %>
        </tr>
        <tr>
          <td><em>Tire Size: </em> <b><%=@tr7.tr7s_tire_size%></b></td>
          <td><em>Expansion Tank: </em>
            <% if @tr7.tr7s_expansion_tank == true%>
              <b>Yes</b>
            <% else %>
              <b>No</b>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <h5 class="center"> Buick Engine </h5>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td> <em> Buick Engine: </em> <b><%= @tr7.buick_v6_engine%></b></td>
          <td> <em> Buick Year: </em><b> <%= @tr7.buick_v6_year%></b></td>
        </tr>
        <tr>
          <td> <em> Buick CID: </em> <b><%= @tr7.buick_v6_cid%></b></td>
        </tr>
      </tbody>
    </table>
    <p> Comments: <%= @tr7.comments%> </p>
  </div>


  <div class="col-xs-6 printable-table">
    <h5 class="center"> Monies</h5>
    <table class="table table-bordered ">
      <tbody>
        <tr>
          <td class="col-xs-3"><strong>TR7 Kit</strong> </td>
          <td class="col-xs-1"><strong> Price</strong> </td>
        </tr>
        <tr>
          <td>TR7 Kit</td>
          <td>$<%= @tr7.kit_amt %></td>
        </tr>
        <tr>
          <td >A/C Hoses</td>
          <td >$<%= @tr7.ac_hoses_amt %></td>
        </tr>
        <tr>
          <td >JCI Headers</td>
          <td >$<%= @tr7.jci_headers_amt %></td>
        </tr>
        <tr>
          <td >Fuel Injection V6 </td>
          <td >$<%= @tr7.fuel_injection_vc_amt %></td>
        </tr>
        <tr>
          <td >Driveshaft Adaptor (4-sp rear) </td>
          <td >$<%= @tr7.driveshaft_adaptor_amt %></td>
        </tr>
        <tr>
          <td >ELECTROLOCK </td>
          <td >$<%= @tr7.electrolock_amt %></td>
        </tr>
        <tr>
          <td >Other </td>
          <td >$<%= @tr7.other_kit_options %></td>
        </tr>
        <tr>
          <td >Credit</td>
          <td > - $<%= @tr7.credit_amt %></td>
        </tr>
        <tr>
          <td >Subtotal (Parts Freight paid)</td>
          <td >$<%= @tr7.subtotal %></td>
        </tr>
        <tr>
          <td >Texas Residents 8.25% Sales Tax +</td>
          <td >$ <%=@tr7.sales_tax %></td>
        </tr>
        <tr>
          <td >Freight</td>
          <td >$<%= @tr7.freight %></td>
        </tr>
        <tr>
          <td><b>CASHIER'S CHECK = </b></td>
          <td ><b>$<%= @tr7.total %></b></td>
        </tr>
      </tbody>
  </table>
  </div>
  <br>

<div class="col-xs-12">
  <p class="small-text"> JCI V6 TR7 Conversion components are property of John's Cars, Inc., including the design, parts and procedures; All Rights Reserved. Our Conversion parts are for the purchaser's personal use and not to be duplicated in whole or in part even if altered. Please check with local authorities regarding emission controls where required. John's Cars, Inc. assumes no liability regarding purchaser's installation or use. </p>
  <br>

  <h5> Signature _____________________________________ Date________________</h5>
</div>
<div class="col-xs-12 text-center">
    <p class="text-small"><strong>JOHN'S CARS, INC. | 800 JAGUAR LANE | DALLAS, TEXAS 75226</strong><br>
    www.johnscars.com | Fax (214) 426-3116 | (214) 426-4100</p>
</div>
