<section id="slider-sec" class="slider-reg">
    <div class="main-flex-slider">
        <ul class="slides">
            <li>
                <figure>
                  <%= image_tag("jag_car.png", :class => "img-responsive") %>
                    <figcaption class="slider-overlay ">
                        <div class="slider-text animated fadeInDown">
                            <h1>John's Cars</h1>
                            <p>  Making Jaguars RAD – Reliable, Affordable and Driveable  </p>
                            <%= link_to "Order Now", order_forms_path, class: "btn btn-white btn-lg" %>
                            <!-- <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Order Now</a></p> -->
                        </div>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section><!--main flex slider end-->

<div class="container">
    <div class="row intro-row">
        <div class="col-md-12 text-center wow animated fadeInUp">
            <h2>John's Cars Conversions</h2>
            <h3 class="subtitle">Home of those wonderfully British cars with American drivelines. </h3>
        </div>
        <div class="space-70"></div>
        <div class=" col-sm-4">
            <div class="services-box">
                <%= link_to jaguars_path do %>
                  <i class="ion-android-car"></i>
                <% end %>
                <h1>Jaguar Conversions</h1><br>
                <p>
                    Want to put an American motor and/or transmission in your Jaguar?  It's a snap with John's Cars conversion.  Kits are available for the Classic XJ Sedans ( XJ6C, XJ6L, XJ12C, XJ12L), the XJS Coupe and Convertibles, the Mark Series, and the legendary E-Type.
                </p>
            </div>
        </div><!--services box-->
        <div class="col-sm-4">
            <div class="services-box">
              <%= link_to triumph_tr7_path do %>
              <i class="ion-android-car"></i>
              <% end %>
                <h1>Triumph TR7</h1><br>
                <p>
                    Salvation for the anemic TR7: a John’s Cars conversion will provide you with the oomph you deserve (more than a TR8) and saves your Triumph from being on the way to the lonely boneyard.  We also have some TR7 parts.
                </p>
            </div>
        </div><!--services box-->
        <div class="col-sm-4">
            <div class="services-box">
              <%= link_to datsun_zcar_path do %>
              <i class="ion-android-car"></i>
              <% end %>

                <h1>Datsun ZCar</h1><br>
                <p>
                  Redefine AWESOME with a John's Cars ZCar Chevy V8 conversion.  Our bolt-in kit will breathe new life into the original Datsun sports car. We do not carry any non V8 conversion.
                </p>
            </div>
        </div><!--services box-->
      </div>  <!--row-->
    </div><!--intro with services end-->
  </div>

<section id="content-region-2" class="padding-40 parallax-1" style="background-position: 50% 42px; background-color: gray;">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="testimonials">
                      <ul class="slides">
                          <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                              <p class="testi-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus massa in mauris rhoncus aliquam. Suspendisse nec velit vestibulum, euismod quam id, pellentesque elit. Ut a interdum metus, vel dictum nibh."</p><p>
                                  <span class="testi-person">John Doe - company inc  </span>
                          </p></li>
                          <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                              <p class="testi-text">"I am 50 years old and have a bachelor's degree in civil and mining engineering.  I have been a street rodder for better than 25 years... My street rodding background has made me painfully aware of the expense of having to manufacture all of your own brackets, hoses, etc...  In my opinion, your kit is still cheaper at twice the price...  Thanks again, both for making the kit available and for being so helpful on the phone.  The conversion turned what had been a dog into a real cat..."</p><p>
                                  <span class="testi-person">Chester Stevens, Hazard, KY  </span>
                          </p></li>
                          <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                              <p class="testi-text">"Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt."</p><p>
                                  <span class="testi-person">victoria - company inc </span>
                          </p></li>
                      </ul>
                  <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol></div>
              </div>

          </div>
      </div>
</section>

<section id="content-region-1" class="padding-40">
    <div class="container">
        <div class="row">
            <div class="col-md-7 features">
                <h3>Jaguar Parts</h3>
                <p>
                    Need parts for your Jaguar?  Have problems you need to diagnose?  Check out our new on-line Broken Kitty Catalog - the best place to find parts and advice on the web.  New, rebuilt, used and aftermarket are all available and ready to ship.  Place your order online with our easy-to-use, secure shopping cart.
                </p>
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                        <i class="ion-ios-paper-outline"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">The Big Step</h4>
                        <p>
                            Before laying out the big money for anyone’s conversion kit, buy the BIG STEP, a complete guide to preparing for a V8 conversion for your Jaguar.  It includes:
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                      <i class="ion-compose"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">News</h4>
                        <p>
                            Trying to keep up with the latest from John's Cars?  Read John's monthly ramble in Hemmings.  He'll discuss various asundry things and even occasionally tries to sell parts.  Now there's an idea!  Honestly, most of his stories are humorous and there are tidbits of information hidden within – including diagnostic tips, parts specials, even jabs at our competitors and nay-sayers occasionally (read them closely!).
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                      <i class="ion-social-usd"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Specials</h4>
                        <p>
                            Discover the latest specials from John's Cars.
                        </p>
                    </div>
                </div><!--services list-->
            </div>
            <div class="col-md-5">
              <%=  image_tag("jaguar_car.jpg") %>
            </div>
        </div>
    </div><!--container-->
</section><!--features end-->

<%= render partial: "layouts/footer" %>
