<section id="slider-sec" class="slider-reg">
    <div class="main-flex-slider">
        <ul class="slides">
            <li>
                <figure>
                  <%= image_tag("jag_car.png", :class => "img-responsive") %>
                    <figcaption class="slider-overlay ">
                        <div class="slider-text animated fadeInDown">
                            <h1>John's Cars</h1>
                            <p>  Making Jaguars RAD – Reliable, Affordable and Driveable  </p>
                            <%= link_to "Order Now", order_forms_path, class: "btn btn-white btn-lg" %>
                            <!-- <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Order Now</a></p> -->
                        </div>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section><!--main flex slider end-->
        <div class="space-50"></div>
        <div class="container">
            <div class="row intro-row">
                <div class="col-md-12 text-center wow animated fadeInUp">
                    <h2>	Welcome to John's Cars </h2>
                    <h3 class="subtitle">Home of those wonderfully British cars with American drivelines. </h3>
                </div>
                <div class="space-70"></div>
                <div class=" col-sm-4">
                    <div class="services-box">
                        <%= link_to jaguars_path do %>
                          <i class="ion-android-car"></i>
                        <% end %>
                        <h1>Jaguar Conversions</h1><br>
                        <p>
                            Want to put an American motor and/or transmission in your Jaguar?  It's a snap with John's Cars conversion.  Kits are available for the Classic XJ Sedans ( XJ6C, XJ6L, XJ12C, XJ12L), the XJS Coupe and Convertibles, the Mark Series, and the legendary E-Type.
                        </p>
                    </div>
                </div><!--services box-->
                <div class=" col-sm-4">
                    <div class="services-box">
                      <%= link_to ('http://www.brokenkitty.com/') do %>
                        <i class="ion-wrench"></i>
                      <% end %>
                        <h1>Jaguar Parts</h1><br>
                        <p>
                            Need parts for your Jaguar?  Have problems you need to diagnose?  Check out our new on-line Broken Kitty Catalog - the best place to find parts and advice on the web.  New, rebuilt, used and aftermarket are all available and ready to ship.  Place your order online with our easy-to-use, secure shopping cart.
                        </p>
                    </div>
                </div><!--services box-->
                <div class="col-sm-4">
                    <div class="services-box">
                      <%= link_to triumph_tr7_path do %>
                      <i class="ion-android-car"></i>
                      <% end %>
                        <h1>Triumph TR7</h1><br>
                        <p>
                            Salvation for the anemic TR7: a John’s Cars conversion will provide you with the oomph you deserve (more than a TR8) and saves your Triumph from being on the way to the lonely boneyard.  We also have some TR7 parts.
                        </p>
                    </div>
                </div><!--services box-->
              </div><!--row end-->
              <div class="row intro-row">
                <div class="col-sm-4">
                    <div class="services-box">
                      <%= link_to datsun_zcars_path do %>
                      <i class="ion-android-car"></i>
                      <% end %>

                        <h1>Datsun ZCar</h1><br>
                        <p>
                          Redefine AWESOME with a John's Cars ZCar Chevy V8 conversion.  Our bolt-in kit will breathe new life into the original Datsun sports car. We do not carry any non V8 conversion.
                        </p>
                    </div>
                </div><!--services box-->

              </div>  <!--row-->
        </div><!--intro with services end-->
        <div class="space-70"></div><div class="space-30"></div>







                    </div>
                </div>

            </div><!--container-->
        </section><!--features end-->
<%= render partial: "layouts/footer"%>
