<section id="slider-sec" class="slider-reg">
    <div class="main-flex-slider">
        <ul class="slides">
            <li>
                <figure>
                  <%= image_tag("jag_car.png", :class => "img-responsive") %>
                    <figcaption class="slider-overlay ">
                        <div class="slider-text animated fadeInDown">
                            <h1>John's Cars</h1>
                            <p>  Making Jaguars RAD – Reliable, Affordable and Driveable  </p>
                            <div class="space-30"></div>
                            <div class="row">
                              <div class=" col-xs-4 col-xs-offset-2">
                                <div class="services-box-smaller">
                                  <h5><%= link_to "Jaguar Conversions", jaguars_path %></h5>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="services-box-smaller">
                                  <h5><%= link_to "Jaguar Parts", ('http://www.brokenkitty.com/')%></h5>
                                </div>
                              </div><!--services box-->
                            </div>
                              <div class="row">
                                <div class="col-xs-4 col-xs-offset-2">
                                  <div class="services-box-smaller">
                                    <h5><%= link_to "Triumph TR7", triumph_tr7_path%></h5>
                                  </div>
                                </div><!--services box-->
                                <div class="col-xs-4">
                                  <div class="services-box-smaller">
                                    <h5><%= link_to "Datsun ZCar", datsun_zcar_path %></h5>
                                  </div>
                                </div><!--services box-->
                              </div>
                        </div>
                      </figcaption>
                </figure>
            </li>
        </ul>
      </div>
    </section>

<!-- <section id="content-region-2" class="parallax-1"> -->
  <!-- <div style="background-color:white; opacity: 0.8;">
      <div class="row">
          <div class="col-md-12 text-center">
              <div class="testimonials">
                  <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                        <p class="testi-text">"I am 50 years old and have a bachelor's degree in civil and mining engineering.  I have been a street rodder for better than 25 years... My street rodding background has made me painfully aware of the expense of having to manufacture all of your own brackets, hoses, etc...  In my opinion, your kit is still cheaper at twice the price...  Thanks again, both for making the kit available and for being so helpful on the phone.  The conversion turned what had been a dog into a real cat..."<span class="testi-person">Chester Stevens, Hazard, KY  </span>
                          </p>
                      </li>
                  </ul>
              <ol class="flex-control-nav flex-control-paging">
                <li>
                  <a class="">1</a>
                </li>
                <li><a class="flex-active">2</a>
                </li>
                <li><a class="">3</a>
                </li>
              </ol>
            </div>
          </div>
      </div>
  </div> -->
  <!-- <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="space-70"></div> -->

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 features" style="background-color: white; opacity: 0.9; border-radius: 25px;">
                <h1>Jaguar Parts</h1>
                <p style="font-weight:800;">
                    Need parts for your Jaguar?  Have problems you need to diagnose?  Check out our new on-line Broken Kitty Catalog - the best place to find parts and advice on the web.  New, rebuilt, used and aftermarket are all available and ready to ship.  Place your order online with our easy-to-use, secure shopping cart.
                </p>
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                        <i class="ion-ios-paper-outline"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">The Big Step</h4>
                        <p style="font-weight:800;">
                            Before laying out the big money for anyone’s conversion kit, buy the BIG STEP, a complete guide to preparing for a V8 conversion for your Jaguar.  It includes:
                        </p>
                    </div> -->
                <!-- </div><!-services list-->
                <!-- <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                      <i class="ion-compose"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">News</h4>
                        <p style="font-weight:800;">
                            Trying to keep up with the latest from John's Cars?  Read John's monthly ramble in Hemmings.  He'll discuss various asundry things and even occasionally tries to sell parts.  Now there's an idea!  Honestly, most of his stories are humorous and there are tidbits of information hidden within – including diagnostic tips, parts specials, even jabs at our competitors and nay-sayers occasionally (read them closely!).
                        </p>
                    </div> -->
                <!-- </div><!-services list-->
                <!-- <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                      <i class="ion-social-usd"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Specials</h4>
                        <p style="font-weight:800;">
                            Discover the latest specials from John's Cars.
                        </p>
                    </div> -->
                <!-- </div><!-services list-->
                <!-- <div class="space-30"></div>
            </div>
        </div> -->
    <!-- </div><!-container-->
    <!-- <div class="space-70"></div> -->

<!-- </section><!-features end-->
<!-- </section> -->

<%= render partial: "layouts/footer" %>
