<div class="container">
  <div class="space-70"></div>
  <div class="space-70"></div>
  <li><%= link_to "JCI LS ZCAR KIT", order_sheets_path %></li>
   <li><%= link_to "JCI V12 QUARTERBREED", quarterbreeds_path%></li>
  <li><%= link_to "TR7 KIT ", tr7s_path%></li>
  <li><%= link_to "MARK QUARTERBREED ", mark_quarterbreeds_path%></li>
  <li><%= link_to "XJ6 QUARTERBREED ", xj6_quarterbreeds_path%></li>
  <li><%= link_to "Etype V12 ", etype_v12s_path%></li>
  <li><%= link_to "Datsun Zcar ", new_datsun_zcar_path%></li>


</div>


<section id="content-region-1" class="padding-40">
    <div class="container">
      <div class="row">
            <div class="col-md-12 features">
              <div class="row panel panel-default">
                <div class="col-sm-3 services-icon" id="v8_conversion">
                    <%= image_tag("e-type.png", :class => "car-pic text-center") %>
                </div>
                <div class="col-sm-4 services-text">
                  <h4 class="heading-mini">EType V12</h4>
                  <p>The sexiest car ever made is even more fun with a V8 under the hood. Make it a daily driver rather than a toy for the weekends.</p>
                </div>
                <div class="col-sm-4">
                  <br>
                  <br>
                  <div class="services-box-smaller" >
                    <h5><%= link_to "EType V12", etype_v12s_path %></h5>
                  </div>
                </div> <!--col4-->
            </div>

        </div>
      <div class="row">
            <div class="col-md-12 features">
              <div class="row panel panel-default">
                  <div class="col-md-3 services-icon" id="v8_conversion">
                      <%= image_tag("zcar.png", :class => "car-pic") %>
                  </div>
                  <div class="col-md-9 services-text">
                    <h4 class="heading-mini">Datsun ZCar</h4>
                    <p>The Datsun ZCar was the first Japanese sports car to gain acceptance in America.</p>
                    <div class="row">
                      <div class=" col-xs-6 col-sm-6">
                        <div class="services-box-smaller" >
                          <h5><%= link_to "ZCar V8 Conversion", anchor: ("datsun_info") %></h5>
                        </div>
                      </div> <!--col4-->
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
