<div class="container">
  <li><%= link_to "JCI LS ZCAR KIT", order_sheets_path %></li>
   <li><%= link_to "JCI V12 QUARTERBREED", quarterbreeds_path%></li>
  <li><%= link_to "TR7 KIT ", tr7s_path%></li>
  <li><%= link_to "MARK QUARTERBREED ", mark_quarterbreeds_path%></li>
  <li><%= link_to "XJ6 QUARTERBREED ", xj6_quarterbreeds_path%></li>
  <li><%= link_to "Etype V12 ", etype_v12s_path%></li>

</div>
