<section id="content-region-2" class="parallax-1">
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="space-70"></div>


  <div class= "container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="background-color: white; opacity: 0.85; border-radius: 25px;">

      <!-- TR7 ROCKETS! -->
      <%= render partial: "tr7s/tr7_rockets" %>
      <!-- Buick V6 Driveline Checklist -->
      <%= render partial: "tr7s/buick_v6_driveline" %>
      <!-- TR7 Conversion Kit Pricing -->
      <%= render partial: "tr7s/conversion_kit_pricing" %>
      <!-- How to Order -->
      <%= render partial: "tr7s/how_to_order" %>
      <!-- TR7 Parts -->
      <%= render partial: "tr7s/parts" %>
      <!-- TR7 Customer Testimonials -->
      <%= render partial: "tr7s/customers_testimonials"%>

    </div>
  </div>
</section>
