<div class="container">
  <%= simple_form_for(@etype_v12) do |f| %>
  <%= f.error_notification %>
  <br><br><br><br>

  <h2 class="text-center"> JCI's E-Type Conversion Kit ORDER SHEET </h2>
  <p> Please complete as much information as you can - there are thousands of variations of my kits. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Incomplete or <em> unsigned </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO CODs</b>, personal checks, company checks, credit cards or wire transfers. <b> KITS ARE NOT RETURNABLE.</b> </p>

  <div class="panel panel-default col-md-12">
  <h3 class="text-center">E-Type Information</h3>
   <div class="row">
     <div class="col-md-12">
       <p class="hint"> <b>Vehicle Identification  Number (VIN)</b> is located on the driver's window pillar or body tag on firewall. </p>
    </div>
    <div class="col-md-12">
      <p class="hint"> <b>Rear Axle Ratio:</b> Tag under bolt on rear cover, sometimes shown as a ratio (49/17) - just enter it in. </p>
    </div>
    <div class="col-md-12">
      <p class="hint"><b>Speedo Number:</b> I need the 3 or 4 numbers in fine print near the center of the speedometer. See the arrow.</p>
    </div>
       <div class="col-md-3">
         <h4>E-Type</h4>
         <%= f.input :etype_cyl, label: false, collection: ["6-cyl", "V12"]%>
       </div>
       <div class="col-md-3">
         <h4>E-Type</h4>
         <%= f.input :etype_car_type, label: false, collection: ["Coupe", "Convertible"]%>
       </div>
       <div class="col-md-3">
         <h4>VIN</h4>
         <%=f.input :vin, label: false,  placeholder:"Vin #" %>
       </div>
       <div class="col-md-3">
         <h4>Year </h4>
         <%= f.input :year, label: false, placeholder:"Year"%>
       </div>
       <div class="col-md-3">
         <h4> # of Carburetors</h4>
         <%= f.input :carburetors, label: false, collection: ["Two", "Three", "Four"]%>
       </div>
       <div class="col-md-3">
         <h4>Engine Number </h4>
         <%= f.input :engine_number, label: false, placeholder:"Engine Number"%>
       </div>
       <div class="col-md-3">
         <h4>Transmission </h4>
         <%= f.input :trans, label: false, collection: ["Borg Warner", "Manual", "Quaterbreed"]%>
       </div>
      <div class="col-md-3">
           <h4>Tire Size/ Radius</h4>
           <%= f.input :tire_size, label: false, placeholder: ""%>
       </div>
       <div class="col-md-3">
          <h4>Rear Axle Ratio </h4>
          <%= f.input :rear_axl_ratio, label: false, placeholder:"", collection: ["2.88", "3.08", "3.31", "3.54", "Other - fill out in next box"]%>
        </div>
        <div class="col-md-3">
          <h4>Other Axle Ratio </h4>
          <%= f.input :rear_axl_ratio_other, label: false, placeholder: ""%>
        </div>
      </div>
      <div class="row">
       <div class="col-md-2 col-md-offset-1">
         <%= image_tag("speedo2.png") %>
       </div>
       <div class="col-md-4 col-md-offset-1">
          <h4>Speedo # </h4>
            <%= f.input :speedo_number, label: false, placeholder: "", collection: ["1020", "1216", "1312", "1352", "Other - fill out in next box"]%>
        </div>
       <div class="col-md-4">
          <h4>Other Speedo </h4>
          <%= f.input :speedo_number_other, label: false, placeholder: ""%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p> Is the Jaguar motor missing from car? <%= f.collection_radio_buttons :motor_missing, [[true, 'Yes'], [false, 'No']], :first, :last%> </p>
        </div>
        <div class="col-md-4">
          <p> Is the Jaguar motor burned from a fire? <%= f.collection_radio_buttons :motor_burned, [[true, 'Yes'], [false, 'No']], :first, :last%> </p>
        </div>
        <div class="col-md-4">
          <p> Is the Jaguar motor right-hand drive? <%= f.collection_radio_buttons :right_hand_drive, [[true, 'Yes'], [false, 'No']], :first, :last%> </p>
        </div>
      </div>
    </div> <!--panel-->




      <div class="panel panel-default col-md-12">
      <h3 class="text-center"> MONIES </h3>
      <h5 class="text-center"> <strong>V12 E-Type to Chevy V8 Kit and Options </strong> </h5>
       <table class="table table-bordered">
         <tbody>
           <tr>
             <td class="col-md-4"> Automatic Trans Kit </td>
             <td class="col-md-4">$1255.00   </td>
             <td class="col-md-4"><strong><%= f.collection_radio_buttons :auto_trans_kit, [[true, 'Yes'], [false, 'No']], :first, :last%></strong></td>
           </tr>
           <tr>
             <td class="col-md-4"> Manual Trans Kit </td>
             <td class="col-md-4"> $1500.00 </td>
             <td class="col-md-4"><%= f.collection_radio_buttons :manual_tras_kit, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
           </tr>
           <tr>
             <td class="col-md-4">Tach Calibration </td>
             <td class="col-md-4"> $59.00 </td>
             <td class="col-md-4"><%= f.collection_radio_buttons :tach_calibration, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
           </tr>
           <tr>
             <td class="col-md-4">Fuel Injection V8 </td>
             <td class="col-md-4"> $100.00 </td>
             <td class="col-md-4"><%= f.collection_radio_buttons :fuel_injection_v8, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
           </tr>
           <tr>
             <td class="col-md-4">Overdrive (T700 or T5)</td>
             <td class="col-md-4"> $50.00</td>
             <td class="col-md-4"> <%= f.collection_radio_buttons :overdrive, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
           </tr>
           <tr>
             <td class="col-md-4">Credit  (Non-illustrated or Repeat Kits)<br></td>
             <td class="col-md-4">Price <%= f.input :credit_amt, label: false, placeholder:"" %> </td>
             <td class="col-md-4"> Description of Credit <%= f.input :credit_description, label: false, placeholder:"" %></td>
           </tr>
           <tr>
             <td class="col-md-4">Are you a Texas Resident? </td>
             <td class="col-md-4"> 8.25% sales tax will be added </td>
             <td class="col-md-4"> </td>
           </tr>
           <!-- <tr>
             <td class="col-md-4">Freight</td>
             <td class="col-md-4">  </td>
             <td class="col-md-4">  f.collection_radio_buttons :freight, [[true, 'Yes'], [false, 'No']], :first, :last %></td>
           </tr> -->
         </tbody>
       </table>
      </div><!--panel-->

      <br clear="all">

      <div class="panel panel-default col-md-6">
        <h2 class="text-center"> Car Owner Information  </h2>
        <div class="row">
          <div class="col-md-4">
            <h4> Name </h4>
            <%= f.input :car_owner_full_name, label: false,  placeholder:"Full Name" %>
          </div>
          <div class="col-md-4">
            <h4>Address </h4>
            <%= f.input :car_owner_address, label: false,  placeholder:"Address" %>
          </div>
          <div class="col-md-4">
            <h4> City</h4>
            <%= f.input :car_owner_city, label: false,  placeholder:"City" %>
          </div>
          <div class="col-md-4">
            <h4> State</h4>
            <%= f.input :car_owner_state, label: false, collection: ["None", "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"] %>
          </div>
          <div class="col-md-4">
            <h4>Zip </h4>
            <%= f.input :car_owner_zip, label: false,  placeholder:"Zip" %>
          </div>
          <div class="col-md-4">
            <h4>Country </h4>
            <%= f.input :car_owner_country, label: false,  placeholder:"Country" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4>Email </h4>
            <%= f.input :car_owner_email, label: false,  placeholder:"Email" %>
          </div>
          <div class="col-md-4">
            <h4> Home Phone</h4>
            <%= f.input :car_owner_home_phone, label: false,  placeholder:"Don't include symbols, only numbers" %>
          </div>
          <div class="col-md-4">
            <h4> Home Hours </h4>
            <%= f.input :car_owner_home_hours, label: false,  placeholder:"From xx to xx" %>
          </div>
          <div class="col-md-4">
            <h4>Work Phone </h4>
            <%= f.input :car_owner_work_phone, label: false,  placeholder:"(###) ### - ####" %>
          </div>
          <div class="col-md-4">
            <h4> Work  Hours </h4>
            <%= f.input :car_owner_work_hours , label: false,  placeholder:"From xx to xx" %>
          </div>
          <div class="col-md-4">
            <h4>Fax </h4>
            <%= f.input :car_owner_fax, label: false,  placeholder:"(###) ### - ####" %>
          </div>
          <div class="col-md-4">
            <h4> Fax Hours </h4>
            <%= f.input :car_owner_fax_hours , label: false,  placeholder:"From xx to xx" %>
          </div>
          <div class="col-md-8">
            <h4>How did you find us </h4>
            <%= f.input :car_owner_find_us , label: false,  placeholder:"",  priority: [ "Internet" ], collection: [ "Internet", "Magazine", "WOM", "Hybridz", "Shop Referal", "Car Show", "Magazine Article", "Other"] %>
          </div>
          <div class="col-md-12">
            <h4>Which magazine, WOM, Internet or ??? </h4>
            <%= f.input :car_owner_where_find_us , label: false,  placeholder:""%>
          </div>
        </div row>
      </div>

      <div class="panel panel-default col-md-6">
        <h2 class="text-center"> Shop or "Ship To" Information  </h2>
        <br>
        <p> Is the shipping information the same as the car owner information (REQUIRED)  <%= f.collection_radio_buttons :same_information, [[true, 'Yes'] ,[false, 'No']], :first, :last  %>
        </p>
          <div class="row">
            <div class="col-md-4">
              <h4> Name </h4>
              <%= f.input :ship_to_full_name, label: false,  placeholder:"Full Name" %>
            </div>
            <div class="col-md-4">
              <h4>Address </h4>
              <%= f.input :ship_to_address, label: false,  placeholder:"Address" %>
            </div>
            <div class="col-md-4">
              <h4> City</h4>
              <%= f.input :ship_to_city, label: false,  placeholder:"City" %>
            </div>
            <div class="col-md-4">
              <h4> State</h4>
              <%= f.input :ship_to_state, label: false, collection: ["None", "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island","South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming" ] %>
            </div>
            <div class="col-md-4">
              <h4>Zip </h4>
              <%= f.input :ship_to_zip, label: false,  placeholder:"Zip" %>
            </div>
            <div class="col-md-4">
              <h4>Country </h4>
              <%=  f.input :ship_to_country, label: false,  placeholder:"Country" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Email </h4>
              <%= f.input :ship_to_email, label: false,  placeholder:"Email" %>
            </div>
            <div class="col-md-4">
              <h4>Shop Phone </h4>
              <%= f.input :ship_to_phone, label: false,  placeholder:"(###) ### - ####" %>
            </div>
            <div class="col-md-4">
              <h4>Shop Fax </h4>
              <%= f.input :ship_to_fax, label: false,  placeholder:"(###) ### - ####" %>
            </div>
            <div class="col-md-4">
              <h4>Contact Person </h4>
              <%= f.input :ship_to_contact_person, label: false,  placeholder:"Contact Person" %>
            </div>
          </div row>
        </div>
        <br clear="all">
        <h2 class="text-center">Chevy V8 Driveline Information</h2>

        <div class="panel panel-default col-md-12">
          <div class="row">
            <div class="col-md-4">
              <h4>Engine</h4>
                <%= f.input :driveline_engine, label: false, collection: ["Carb", "TBI", "TPI", "LT-1"]%>
            </div>
            <div class="col-md-4">
              <h4>Engine Year</h4>
                <%= f.input :driveline_year, label: false, placeholder: "Engine Year"%>
            </div>
            <div class="col-md-4">
              <h4>CID</h4>
                <%= f.input :driveline_cid, label: false, placeholder: "Engine CID"%>
            </div>
            <div class="col-md-6">
              <h4>Donor Car</h4>
                <%= f.input :donar_car, label: false, collection: ["Caprice", "Camaro", "Truck", "Other - fill out in next box"]%>
            </div>
            <div class="col-md-6">
              <h4>Donor Car Other</h4>
                <%= f.input :donar_car_other, label: false%>
            </div>
            <div class="col-md-6">
              <h4>Transmission</h4>
                <%= f.input :driveline_trans, label: false, collection: ["350", "400", "700", "4L60E"]%>
            </div>
            <div class="col-md-6">
              <h4>Transmission Year</h4>
                <%= f.input :driveline_trans_year, label: false, placeholder: "Year"%>
            </div>
            <div class="col-md-6">
              <h4>Tailhousing Length (inches)</h4>
                <%= f.input :tailhousing_length, label: false, placeholder: "Tailhousing Length in inches"%>
            </div>
          <div class="col-md-6">
            <p> How did you get your Transmission? <%= f.input :how_get_trans, label: false, collection: ["With Motor", "Separately"] %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>A/C Refrigerant</h4>
              <%= f.input :ac_refrigerant, label: false, collection: ["R12", "R134", "Other - fill out in next box"]%>
          </div>
          <div class="col-md-6">
            <h4>A/C Refrigerant Other</h4>
              <%= f.input :ac_refrigerant_other, label: false, placeholder: "other"%>
          </div>
          <div class="col-md-6">
            <h4>Battery Type</h4>
              <%= f.input :battery_type, label: false, collection: ["Top Post", "Side Post"]%>
          </div>
          <div class="col-md-6">
            <h4>Fan Belts</h4>
              <%= f.input :fan_belts, label: false, collection: ["Multiple Vee Belts", "Single Serpentine", "Combo"]%>
          </div>
        </div>
      </div>
        <br clear="all">
        <div class="col-md-12">
          <p> This information is <em><strong> critical</strong></em> to providing you with the right parts the <em> first time!</em> Failure to complete this page <strong> will delay</strong> your order. Please select your accessories layout, compressor and plug, alternator plug, and ignition plug. Black areas on the plugs are closet to you. Please call if you need help. </p>
        </div>
        <br clear="all">
        <div class= "col-md-8">
          <h2 class="text-center">Front View of Accessories</h2>
        </div>
        <div class="col-md-2">
          <p><small>A/C, R4, DA6, ND = A/C Compressor</small> </p>
        </div>
        <div class="col-md-2">
          <p><small>ALT = Alternator</small> <br>
          <small>AP = Air Pump</small> <br>
          <small>PS = Power Steering</small> </p>
        </div>
        <div class="col-md-2">
          <%= image_tag("some_carb_v8.png") %><br>
          <%= f.collection_radio_buttons :some_carb_v8, [[true, 'Yes'], [false, 'No']], :first, :last %>
        </div>
        <div class="col-md-2">
          <%= image_tag("most_carb_v8.png") %><br>
          <%= f.collection_radio_buttons :most_carb_v8, [[true, 'Yes'], [false, 'No']], :first, :last %>
        </div>
        <div class="col-md-2">
          <%= image_tag("truck_tbi.png") %><br>
          <%= f.collection_radio_buttons :truck_tbi, [[true, 'Yes'], [false, 'No']], :first, :last %>
        </div>
        <div class="col-md-2">
          <%= image_tag("camaro_lt1.png") %><br>
          <%= f.collection_radio_buttons :camaro_lt1, [[true, 'Yes'], [false, 'No']], :first, :last %>
        </div>
        <div class="col-md-2">
          <%= image_tag("corvette_lt4.png") %><br>
          <%= f.collection_radio_buttons :corvette_lt4, [[true, 'Yes'], [false, 'No']], :first, :last %>
        </div>
        <div class="col-md-2">
          <%= image_tag("other_front_view.png") %><br>
          <%= f.collection_radio_buttons :other_front_view, [[true, 'Yes'], [false, 'No']], :first, :last %>
        </div>
        <br clear="all">
        <div class= "col-md-12">
          <h2 class="text-center">A/C Compressor (Select one compressor and plug)</h2>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4> Compressor Type </h4>
          </div>
          <div class="col-md-2">
            <%= image_tag("compressor_a6.png") %><br>
            <%= f.collection_radio_buttons :compressor_a6, [[true, 'Yes'], [false, 'No']], :first, :last %>
          </div>
          <div class="col-md-2">
            <%= image_tag("compressor_r4.png") %><br>
            <%= f.collection_radio_buttons :compressor_r4, [[true, 'Yes'], [false, 'No']], :first, :last %>
          </div>
          <div class="col-md-2">
            <%= image_tag("compressor_da6.png") %><br>
            <%= f.collection_radio_buttons :compressor_da6, [[true, 'Yes'], [false, 'No']], :first, :last %>
          </div>
          <div class="col-md-2">
            <%= image_tag("compressor_nd.png") %><br>
            <%= f.collection_radio_buttons :compressor_nd, [[true, 'Yes'], [false, 'No']], :first, :last %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4> Plug on Front of Compression Near Belt</h4><small> (not the rear)</small>
          </div>
          <div class="col-md-2">
            <%= image_tag("plug_a6.png") %><br>
            <%= f.collection_radio_buttons :plug_a6, [[true, 'Yes'], [false, 'No']], :first, :last %>
          </div>
          <div class="col-md-2">
            <%= image_tag("plug_r4.png") %><br>
            <%= f.collection_radio_buttons :plug_r4, [[true, 'Yes'], [false, 'No']], :first, :last %>
          </div>
          <div class="col-md-2">
            <%= image_tag("plug_da6.png") %><br>
            <%= f.collection_radio_buttons :plug_da6, [[true, 'Yes'], [false, 'No']], :first, :last %>
          </div>
          <div class="col-md-2">
            <%= image_tag("plug_nd.png") %><br>
            <%= f.collection_radio_buttons :plug_nd, [[true, 'Yes'], [false, 'No']], :first, :last %>
          </div>
        </div>
        <br clear="all">
        <div class= "col-md-12">
          <h2 class="text-center">Alternator Plug (Select one)</h2>
        </div>
        <div class="col-md-12">
          <div class="col-md-12">
            <p> Type 1 is external regulator - not suitable.</p>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <p class="text-center"> Type 2 </p>
            </div>
            <div class="col-md-4">
              <p class="text-center"> Type 3 </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <%= image_tag("alternator_plug_type2.png") %><br>
              <%= f.collection_radio_buttons :alternator_plug_type2, [[true, 'Yes'], [false, 'No']], :first, :last %>
            </div>
            <div class="col-md-4">
              <%= image_tag("alternator_plug_type3.png") %><br>
              <%= f.collection_radio_buttons :alternator_plug_type3, [[true, 'Yes'], [false, 'No']], :first, :last %>
            </div>

          </div>
        </div>
        <br clear="all">
        <div class= "col-md-12">
          <h2 class="text-center">HEI Ignition Plug (Select One)</h2>
        </div>
        <div class="col-md-12">
            <p> Type 1 is points ignition - call for more information.</p>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <p class="text-center"> Type 2: Coll in Cap 5" Distributor Cap </p>
            </div>
            <div class="col-md-4">
              <p class="text-center"> Type 3: Remote Coll 4" Distributor Cap </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <%= image_tag("ignition_plug_type2.png") %><br>
              <%= f.collection_radio_buttons :ignition_plug_type2, [[true, 'Yes'], [false, 'No']], :first, :last %>
            </div>
            <div class="col-md-4">
              <%= image_tag("ignition_plug_type3.png") %><br>
              <%= f.collection_radio_buttons :ignition_plug_type3, [[true, 'Yes'], [false, 'No']], :first, :last %>
            </div>
          </div>
        </div>
        <br clear="all">
        <br>
        <br>
        <br>
      <div class="col-md-12">
        <p> If you're installing a Carbureted V8 motor with serpentine belts and/or weatherpack accessories, <em>please fill the following out below.</em> </p>
        <p> If you're installing a V8 motor that <em> originally</em> had a carburetor <strong>but</strong> you are switching to Fuel Injection, <em> please fill the following out below. </em></p>
        <p>If you're installing a V8 motor that <em> originally</em> had Fuel Injection (even if you are switching to a carburetor), <em> please fill the following out below. </em></p>
        <p>If you're installing a Carbureted V8 with a carburetor <strong>with</strong> multiple vee fan belts, skip the following. </p>
        <p> This information is <em><strong> critical</strong></em> to providing you with the right parts the <em> first time!</em> Please answer <strong> ALL </strong> of the following questions. Failure to complete this page <strong> will delay</strong> your order. Please call if you need help. </p>
      </div>

      <div class="panel panel-defualt">
        <h2 class="text-center">Engine</h2>
        <div class="row">
          <div class= "col-md-6">
            <h4> Fuel Injection Type</h4>
              <%= f.input :engine_fuel_injection, label: false, collection: ["TBI", "TPI", "LT-1 & 4300", "Vortec", "Holley Projections", "Edelbock Pro-Flo", "Other - fill out in next box"]%>
          </div>
          <div class="col-md-6">
            <h4> Fuel Injection Other </h4>
              <%= f.input :engine_fuel_injection_other, label: false, placeholder: ""%>
          </div>
          <div class= "col-md-6">
            <h4> Donor Car</h4>
              <%= f.input :engine_donor_car, label: false, collection: ["Camaro/Firebird", "Caprice", "Corvette", "Truck", "Crate Motor", "Other - fill out in next box"]%>
          </div>
          <div class="col-md-6">
            <h4> Donor Car Other </h4>
              <%= f.input :engine_donor_car_other, label: false, placeholder: ""%>
          </div>
          <div class= "col-md-6">
            <h4> TPI and LT-1 <em>Only</em></h4>
              <%= f.input :engine_tpi_lt1, label: false, collection: ["Mass Air Flow Meter", "Speed Density (MAP)"]%>
          </div>
          <div class="col-md-6">
          </div>
          <div class= "col-md-4">
            <h4>LT-1 <em>Only</em></h4>Size of purge/fill/vent nipple in throttle body:
              <%= f.input :engine_purge_size, label: false, collection: ["3/8 in", "1/2 in"]%>
          </div>
          <div class="col-md-2">
            <%= image_tag("purge_size.png") %>
          </div>
          <div class="col-md-6">
            <h4>LT-1 <em>Only</em>: PS Pump location</h4>
              <%= f.input :engine_ps_pump_location, label: false, collection: ["Driver's Side", "Passenger's Side"]%>
          </div>
          <div class="col-md-6">
            <h4>LT-1 <em>Only</em>: PS Pump outlet direction</h4>
              <%= f.input :engine_ps_pump_outlet, label: false, collection: ["Towards Fender", "Towards Firewall"]%>
          </div>
          <div class="col-md-6">
            <h4>Corvette Motor <em>Only</em>: Thread size of nut on power steering hose <strong>at pump</strong></h4>
              <%= f.input :engine_corvette_nut_size, label: false, collection: ["5/8 in", "18 mm"]%>
          </div>
          <div class="col-md-6">
            <h4>Corvette Motor <em>Only</em>: Diameter of lower radiator hose connection at water pump</h4>
              <%= f.input :engine_corvette_diameter, label: false, collection: ["1 1/2 in", "1 3/4 in"]%>
          </div>
          <div class="col-md-6">
            <h4>TBI Motor <em>Only</em>: Thermostat Housing Outlet points towards the:</h4>
              <%= f.input :engine_tbi_thermostat, label: false, collection: ["Front of Motor", "Left Side of Motor"]%>
          </div>
        </div>
      </div>

      <div class="panel panel-defualt">
        <h2 class="text-center">Accessories</h2>
          <div class="row">
            <div class="col-md-6">
              <h4>Fans</h4>
                <%= f.input :accessories_fan, label: false, collection: ["Mechanical Fan (belt driven)", "Electric Fan(s)", "Both"]%>
            </div>
            <div class="col-md-6">
              <h4>Water Pump</h4>
                <%= f.input :accessories_water_pump, label: false, collection: ["Standard Rotation", "Reverse Rotation", "LT-1"]%>
            </div>
            <div class="col-md-6">
              <h4>Fan Belts</h4>
                <%= f.input :accessories_fan_belts, label: false, collection: ["Multiple Vee Belts", "Single Serpentine", "Combination", "Roadmaster"]%>
            </div>
            <div class="col-md-6">
              <h4>Air pump (smog pump)</h4>
                <%= f.input :accessories_air_pump, label: false, collection: ["Belt driven", "Electric", "None", "Will Remove from Motor"]%>
            </div>
            <div class="col-md-6">
              <h4>Valve Covers</h4>
                <%= f.input :accessories_valve_covers, label: false, collection: ["4 Bolts at Flange", "Center Bolts"]%>
            </div>
            <div class="col-md-6">
              <h4>A/C Refrigerant</h4>
                <%= f.input :accessories_ac_refrigerant, label: false, collection: ["R12", "R134", "Other"]%>
            </div>
          </div>
      </div>

      <div class="panel panel-defualt">
        <h2 class="text-center">Miscellaneous</h2>
          <div class="row">
            <div class="col-md-6">
              <h4>What/whose FI harness are you going to use?</h4>
                <%= f.input :miscellaneous_fi_harness, label: false, collection: ["Howell Engineering", "S&P", "Ron Francis", "Homegrown (your own)", "Other - fill out in next box"]%>
            </div>
            <div class="col-md-6">
              <h4>FI harness Other</h4>
                <%= f.input :miscellaneous_fi_harness_other, label: false, placeholder: ""%>
            </div>
            <div class="col-md-6">
              <h4>Oil Pressure Safety Switch for Fuel Pump</h4>
                <%= f.collection_radio_buttons :miscellaneous_oil_switch, [[true, 'Yes'], [false, 'No']], :first, :last%>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>VSS/Speedo Type</h4> Please pull the four bolts on the trans tailhousing and <strong>select</strong> the type of speedo drive you have:
                <%= f.input :miscellaneous_speedo_type, label: false, collection: ["Type 1", "Type 2"]%>
            </div>
            <div class="col-md-3">
              <h4> Type 1 </h4>
              <%= image_tag("speedo_type1.png") %>
            </div>
            <div class="col-md-3">
              <h4> Type 2 </h4>
              <%= image_tag("speedo_type2.png") %>
            </div>
            <div class="col-md-12">
              <p> If you are installing a Fuel Injection motor in a Jaguar with electronic speedometer (all after 1982), then you need the John's Cars VSS Buffer ($150.00) for it to function. If you have a cable drive speedometer (pre 82), please call.
            </div>
            <div class="col-md-6">
              <h4> T700 Lockup</h4>
              <%= f.input :miscellaneous_t700_lockup, label: false, collection: ["Computered Controlled", "Aftermarket kit (Electric or Vacuum)", "Aftermarket kit (Hydraulic)"]%>
            </div>
            <div class="col-md-6">
              <h4> Ignition</h4>
              <%= f.input :miscellaneous_ignition, label: false, collection: ["HEI Coil in Cap", "Remote coil", "LT-1", "Other - fill out in next box"]%>
            </div>
            <div class="col-md-6">
              <h4> Ignition Other</h4>
              <%= f.input :miscellaneous_ignition_other, label: false, placeholder: ""%>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <p> <strong> Switching to a Carburetor:</strong> Most FI blocks do not have a place for a mechanical fuel pump. Even if the boss is there, the camshaft may not have a lobe for the fuel pump. Intake bolt angles also vary so intake manifold may not fit directly. These are more examples of why we stress that you get a <strong>"COMPLETE"</strong> driveline.</p>
          <p> <strong> TBI Notes:</strong> Pickup style TBI alternator & A/C brackets will not clear XJS hood lines. </p>
          <p> <strong> Fuel Return Notes: </strong> All FI motors must have a fuel return to the tank(s). If you Jaguar was Fuel Injection originally, then you'll reuse the original plumbing. </p>
        </div>
        <div class="col-md-6">
          <p> Did you call to get help in filling in the order sheet? </p>
          <%= f.collection_radio_buttons :call_for_help, [[true, 'Yes'], [false, 'No']], :first, :last%>
        </div>
        <div class="col-md-6">
          <p> Who did you talk to? </p>
          <%= f.input :talk_to, label: false, placeholder:""%>
        </div>
        <div class="col-md-12">
          <p> What was your impression of our staff? </p>
          <%= f.input :impression_staff, label: false, placeholder:""%>
        </div>
        <div class="col-md-12">
          <p> Suggestions/Comments on this conversion information? </p>
          <%= f.input :comments, label: false, placeholder:""%>
        </div>

      <div class="col-md-12">
        <p> The E-Type Conversion Kit is the property of John's Cars, Inc., including the design, parts and procedures; All Rights Reserved. Our Conversion parts are for the purchaser's personal use and not to be duplicated in whole or in part even if altered. Please check with local authorities regarding emission controls where required. John's Cars, Inc. assumes no liability regarding purchaser's installation or use. </p>
         <h4>Additional comments or notes </h4>
         <%= f.input :comments, label: false, placeholder:"" %>

        <%= f.submit "PRINT ORDER", { class: 'btn btn-danger btn-lg btn-block' }%>
           <br>
           <br>
       </div>
      <% end %>
</div>
