<div class="container">
  <%= simple_form_for(@quarterbreed) do |f| %>
  <h2 class="text-center"> JCI V12 QUARTERBREED KIT ORDER SHEET </h2>
  <p> Please complete as much information as you can - there are thousands of variations of my Jaguar kits. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Incomplete or <em> unsigned </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO COD's</b>, personal checks, company checks, credit cards or wire transferes. <b> KITS ARE NOT RETURNABLE.</b> </p>

  <div class="panel panel-default">
  <h2 class="text-center">JAGUAR Information (Before V8)
   </h2>
   <div class="row">
       <div class="col-md-3 height">
         <h4>Type </h4>
         <%= f.input :jaguar_type, label: false, placeholder:"Type",  collection: ["XJ12", "XJ12C", "XJ12L", "XJS", "XJS-HE", "XJ-SC"]%>
       </div>
       <div class="col-md-3 height">
         <h4>VIN </h4>
         <%=f.input :jaguar_vin , label: false,  placeholder:"" %>
         <small> located on the window pillar or base on windshield in front of driver's door</small>
      </div>
     <div class="col-md-3 height">
       <h4>Year</h4>
       <%= f.input :jaguar_year, label: false, placeholder:"Year"%>
     </div>
     <div class="col-md-3 height">
          <h4>Month Built </h4>
          <%= f.input :jaguar_month_built, label: false, placeholder:"Month Built", collection: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
          %>
      </div>
     <div class="col-md-3 height">
          <h4>Year Built </h4>
          <%= f.input :jugaur_year_built, label: false, placeholder: "Year Built"%>
      </div>
      <div class="col-md-3 height">
           <h4>Engine </h4>
           <%= f.input :engine_number, label: false, placeholder: ""%>
           <small>Number at bellhousing flange of engine, top center</small>
       </div>
       <div class="col-md-3 height">
            <h4>Engline Type </h4>
            <%= f.input :engine_type, label: false, placeholder: "", collection: ["Carbureted", "Fuel Injection", "Other - fill out in comments"]%>
        </div>
        <div class="col-md-3 height">
             <h4>Tire Size </h4>
             <%= f.input :tire_size, label: false, placeholder: "Tire Size"%>
         </div>
         <div class="col-md-3 height">
              <h4>Tire Radius </h4>
              <%= f.input :tire_radius, label: false, placeholder: "Tire Radius"%>
          </div>
          <div class="col-md-3 height">
               <h4>Rear Axie Radio</h4>
               <%= f.input :rear_axie_ratio, label: false, placeholder: "", collection: ["2.88", "3.08", "3.31", "3.54", "Other - fill out in comments"]%>
               </h4><small>Tage under bolt on rear cover, sometimes shown in ratio form (49/17)</small>
           </div>
           <div class="col-md-4 height">
                <h4>Speedo Number </h4>
                <%= f.input :speedo_number, label: false, placeholder: "", collection: ["940", "1000", "1020", "Other - fill out in comments"]%>
                <small> I need the 3 or 4 numbers in fine print located along the bottom edge of the speedometer "face" (between 5 & 6 o'clock) on most cars, near the center on early cars</small>
            </div>
    </div> <!-- row-->
 </div><!--panel-->



    <%= f.submit "Submit Order" %>

  <% end %>
  <br>
  <br>
</div>
