<div class="hidden-print">
  <%= link_to "Edit", edit_quarterbreed_path(@quarterbreed.id) %>
</div>

<h3 class="center"> JCI V12 QUARTERBREED KIT ORDER SHEET </h3>
<p class="text-center small-text"> Please complete as much information as you can - there are thousands of variations of my Jaguar kits. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Incomplete or <em> unsigned </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO COD's</b>, personal checks, company checks, credit cards or wire transferes. <b> KITS ARE NOT RETURNABLE.</b> </p>

<div class="col-xs-12 printable-table">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td><strong>CAR OWNER INFORMATION</strong> </td>
        <td><strong>SHOP OR "SHIP TO" INFORMATION </strong> </td>
      </tr>
      <tr>
        <td ><b>Name</b>: <%= @quarterbreed.car_owner_full_name %> </th>
        <td> <b>Name</b>: <%= @quarterbreed.ship_to_full_name %></td>
      </tr>
      <tr>
        <td><b>Address:</b> <%= @quarterbreed.car_owner_address %> <br> <%= @quarterbreed.car_owner_city %>,
          <% if @quarterbreed.car_owner_state == "None" %>
          </b><%= @quarterbreed.car_owner_zip %>   <%= @quarterbreed.car_owner_countr %>
          <% else %>
          <%= @quarterbreed.car_owner_state %>  </b><%= @quarterbreed.car_owner_zip %>,   <%= @quarterbreed.car_owner_countr %>
          <% end %>
        </td>
        <td><b>Address:</b> <%= @quarterbreed.ship_to_address %> <br> <%= @quarterbreed.ship_to_city %>,
          <% if @quarterbreed.ship_to_state == "None" %>
        </b><%= @quarterbreed.ship_to_zip %>   <%= @quarterbreed.ship_to_countr %>
          <% else %>
          <%= @quarterbreed.ship_to_state %>  </b><%= @quarterbreed.ship_to_zip %>,   <%= @quarterbreed.ship_to_countr %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><b>Email:</b> <%= @quarterbreed.car_owner_email %></td>
        <td><b>Email:</b> <%= @quarterbreed.ship_to_email %></td>
      </tr>
      <tr>
        <td><b> Home Phone: </b> <%= @quarterbreed.car_owner_home_phone %> <b>From:</b>  <%= @quarterbreed.car_owner_home_hours %> </td>
        <td> <b> Shop Phone: </b><%= @quarterbreed.ship_to_phone %> </td>
      </tr>
      <tr>
        <td> <b>Work Phone: </b><%= @quarterbreed.car_owner_work_phone %> <b>From:</b> <%= @quarterbreed.car_owner_work_hours%> </td>
        <td><b>Fax: </b> <%= @quarterbreed.ship_to_fax %> </td>
      </tr>
      <tr>
        <td> <b> Fax: </b> <%= @quarterbreed.car_owner_fax %> <b>From:</b> <%= @quarterbreed.car_owner_fax_hours %></td>
          <td><b>How did you find us?</b> <%= @quarterbreed.car_owner_find_us %> <b> Where</b>: <%= @quarterbreed.car_owner_where_find_us %></td>
      </tr>
    </tbody>
</table>
</div>


  <div class="col-xs-6 printable-table">
    <h5 class="center"> JAGUAR INFORMATION (BEFORE V8) </h5>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><b>Type: </b> <%=@quarterbreed.jaguar_type%></td>
          <td> <b>VIN:</b> <%=@quarterbreed.jaguar_vin%></td>
        </tr>
        <tr>
          <td><b>Year: </b> <%= @quarterbreed.jaguar_year%></td>
        </tr>
        <tr>
          <td><b>Month Built: </b> <%= @quarterbreed.jaguar_month_built%></td>
          <td><b>Year Built: </b> <%= @quarterbreed.jugaur_year_built%></td>
      </tr>
      <tr>
        <td><b>Engine Number: </b> <%=@quarterbreed.engine_number%></td>
        <td><b>Engine Type: </b> <%=@quarterbreed.engine_type%></td>
      </tr>
      <tr>
        <td><b>Tire Size: </b> <%=@quarterbreed.tire_size%></td>
        <td><b>Tire Radius: </b> <%=@quarterbreed.tire_radius%></td>
      </tr>
      <tr>
        <td><b>Rear Axle Ratio: </b> <%=@quarterbreed.rear_axie_ratio%></td>
        <td><b>Speedo Number: </b> <%=@quarterbreed.speedo_number%></td>
      </tr>
      </tbody>
    </table>
    <h5 class="center"> JAGUAR TRANSMISSION</h5>
    <table class="table table-bordered">
      <tbody>
        <td><b>Transmission: </b> <%= @quarterbreed.jaguar_trans%></td>
      </tr>
    </tbody>
  </table>

    <p>Comments: <%= @quarterbreed.comments%></p>
  </div>


  <div class="col-xs-6 printable-table">
    <h5 class="center"> BUILDING BLOCKS</h5>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="col-xs-3"><strong>QUARTERBREED </strong></td>
          <td class="col-xs-1"><strong> Price</strong> </td>
        </tr>
        <tr>
          <td>V12 T700 QUARTERBREED Kit</td>
          <td>$<%= @quarterbreed.quarterbreed_kit %></td>
        </tr>
        <tr>
          <td >T400 Flywheel Core Deposit</td>
          <td >$<%= @quarterbreed.flywheel_core_amt %></td>
        </tr>
        <tr>
          <td >Driveshaft</td>
          <td >$<%= @quarterbreed.driveshaft_amt %></td>
        </tr>
        <tr>
          <td >Credit</td>
          <td > - $<%= @quarterbreed.credit %></td>
        </tr>

          <td >Subtotal (Parts Freight paid)</td>
          <td >$<%= @quarterbreed.subtotal %></td>
        </tr>
        <tr>
          <td >Texas Residents 8.25% Sales Tax </td>
          <td >$ <%=@quarterbreed.sales_tex.round(2) %></td>
        </tr>
        <tr>
          <td>Hawaii or Expedite</td>
          <td>$ <%= @quarterbreed.expedite %></td>
        </tr>
        <tr>
          <td>CASHIER'S CHECK = </td>
          <td ><b>$<%= @quarterbreed.total.round(2) %></b></td>
        </tr>
      </tbody>
  </table>
  </div>
  <br>

<div class="col-xs-12">
  <p class="small-text"> V12 Quarterbreed Conversion Kit is the property of John's Cars, Inc., including the design, parts and procedures; All Rights Reserved. Our Conversion parts are for the purchaser's personal use and not to be duplicated in whole or in part even if altered. Please check with local authorities regarding emission controls where required. John's Cars, Inc. assumes no liability regarding purchaser's installation or use. </p>
  <br>

  <p> Signature _____________________________________________________ Date______________________</p>

</div>
<div class="col-xs-12 text-center">
    <p class="small-text">JOHN'S CARS, INC. | 800 JAGUAR LANE | DALLAS, TEXAS 75226 <br>
    www.johnscars.com | Fax (214) 426-3116 | (214) 426-4100</p>
  </div>
</div>
