<div class="space-70"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h1 class="panel-title">
        <strong>XJ Sedans (1969 to 1987)</strong>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-3 services-icon">
          <%= image_tag("xj_sedans.png", :class => "car-pic") %>
      </div>
      <div class="col-md-9 services-text">
        <br>
        <p>
          The classic Jaguar Sedan was built for 20 years in many variations (XJ6, XJ6C, XJ6L, XJ12, XJ12C, and XJ12L).  We define the "classic" XJ Sedans as all sedans from 1969 to 1987 in the USA (Series 3 XJ12 sedans were available through 1992 in the ROW [rest of the world]).    Check out the <%= link_to"XJ Sedan Model Guide", root_path%> for more details.
        </p>
      </div>
    </div>
    <div class="row">
      <div class=" col-xs-6 col-sm-4 col-sm-offset-3">
        <div class="services-box-smaller" >
          <h5><%= link_to "Chevy V8 Conversion", chevy_v8_path%></h5>
        </div><!--services box-->
      </div> <!--col 6-->
      <div class="col-xs-6 col-sm-4">
        <div class="services-box-smaller">
          <h5><%= link_to "XJ6 Quarterbreed", root_path%></h5>
        </div><!--services box-->
      </div><!--col 6-->
    </div><!--row-->
    <div class="row">
      <div class=" col-xs-6 col-sm-4 col-sm-offset-3">
        <div class="services-box-smaller" >
          <h5><%= link_to "XJ12 Quarterbreed", root_path%></h5>
        </div><!--services box-->
      </div> <!--col 6-->
      <div class="col-xs-6 col-sm-4">
        <div class="services-box-smaller">
          <h5><%= link_to "XJ Sedan parts", root_path%></h5>
        </div><!--services box-->
      </div><!--col 6-->
    </div><!--row-->
  </div>
</div>
