<div class="space-70"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h1 class="panel-title">
        <strong>XJS & XJS HE (1976 to 1996)</strong>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-3 services-icon">
        <%= image_tag("xjs_he.png", :class => "car-pic") %>
      </div>
      <div class="col-md-9 services-text">
        <br>
        <p>
          The replacement for the E-Type, the Jaguar XJS matched the XJ Sedans in longevity and in variations (XJS, XJS-HE, XJ-SC [Cabriolet], XJS Convertible).  Check out the <%= link_to "XJS Model Guide", root_path%> for more details.
        </p>
      </div>
    </div>
    <div class="row">
      <div class=" col-xs-6 col-sm-4 col-sm-offset-3">
        <div class="services-box-smaller" >
          <h5><%= link_to "XJS Chevy V8 Conversion", root_path%></h5>
        </div><!--services box-->
      </div> <!--col 6-->
      <div class="col-xs-6 col-sm-4">
        <div class="services-box-smaller">
          <h5><%= link_to "XJS Quarterbreed", root_path%></h5>
        </div><!--services box-->
      </div><!--col 6-->
    </div><!--row-->
    <div class="row">
      <div class=" col-xs-6 col-sm-4 col-sm-offset-3">
        <div class="services-box-smaller" >
          <h5><%= link_to "XJS & XJS HE Parts", root_path%></h5>
        </div><!--services box-->
      </div> <!--col 6-->
    </div><!--row-->
  </div>
</div>
