<div class="container">
  <%= simple_form_for(@order_sheet) do |f| %>
  <h2 class="text-center default-form"> JCI LS ZCAR ORDER SHEET </h2>
  <p> Please complete as much information as you can. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Illegible, incomplete or <em> unsigned </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO COD's</b>, no personal or company checks, no credit cards and no wire transferes. <b> PARTS ARE NOT RETURNABLE.</b> </p>
  <div class="row">
    <div class="col-md-3">
      <h4> LS Type </h4>
      <%= f.input :ls_type, label: false, placeholder:"",  priority: [ "LS1" ], collection: [ "LS1", "LS2", "LS3", "LS7"] %>
    </div>
    <div class="col-md-3">
      <h4> Year </h4>
      <%= f.input :ls_year, label: false, placeholder:"LS Year" %>
    </div>
  </div>

  <h2 class="text-center default-form"> Car Owner Information  </h2>
  <div class="row">
    <div class="col-md-3">
      <h4> Name </h4>
      <%= f.input :car_owner_full_name, label: false,  placeholder:"Full Name" %>
    </div>
    <div class="col-md-3">
      <h4>Address </h4>
      <%= f.input :car_owner_address, label: false,  placeholder:"Address" %>
    </div>
    <div class="col-md-3">
      <h4> City</h4>
      <%= f.input :car_owner_city, label: false,  placeholder:"City" %>
    </div>
    <div class="col-md-3">
      <h4> State</h4>
      <%= f.input :car_owner_state, collection: ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming" ], label: false,  placeholder:"State" %>
    </div>
    <div class="col-md-3">
      <h4>Zip </h4>
      <%= f.input :car_owner_zip, label: false,  placeholder:"Zip" %>
    </div>
    <div class="col-md-3">
      <h4>Email </h4>
      <%= f.input :car_owner_email, label: false,  placeholder:"Email" %>
    </div>
    <div class="col-md-3">
      <h4> Home Phone</h4>
      <%= f.input :car_owner_home_phone, label: false,  placeholder:"Home Phone" %>
    </div>
    <div class="col-md-3">
      <h4> Home Phone Hours Available</h4>
      <%= f.input :car_owner_home_hours, label: false,  placeholder:"From xx to xx" %>
    </div>
    <div class="col-md-3">
      <h4>Work Phone </h4>
      <%= f.input :car_owner_work_phone, label: false,  placeholder:"Work Phone" %>
    </div>
    <div class="col-md-3">
      <h4> Work Phone Hours Available</h4>
      <%= f.input :car_owner_work_hours , label: false,  placeholder:"From xx to xx" %>
    </div>
    <div class="col-md-3">
      <h4>Fax </h4>
      <%= f.input :car_owner_fax, label: false,  placeholder:"Fax" %>
    </div>
    <div class="col-md-3">
      <h4> Fax Hours Available</h4>
      <%= f.input :car_owner_fax_hours , label: false,  placeholder:"From xx to xx" %>
    </div>

    <div class="col-md-3">
      <h4>How did you find us </h4>
      <%= f.input :car_owner_find_us , label: false,  placeholder:"",  priority: [ "Internet" ], collection: [ "Internet", "Magazine", "WOM", "Other"] %>
    </div>
  </div row>

    <h2 class="text-center default-form"> Shop or "Ship To" Information  </h2>
    <p> Is the shipping information the same as the car owner information </p>
    <%= f.collection_radio_buttons :same_information, [[true, 'Yes'] ,[false, 'No']], :first, :last  %> </p>
    <div class="row">
      <div class="col-md-3">
        <h4> Name </h4>
        <%= f.input :ship_to_full_name, label: false,  placeholder:"Full Name" %>
      </div>
      <div class="col-md-3">
        <h4>Address </h4>
        <%= f.input :ship_to_address, label: false,  placeholder:"Address" %>
      </div>
      <div class="col-md-3">
        <h4> City</h4>
        <%= f.input :ship_to_city, label: false,  placeholder:"City" %>
      </div>
      <div class="col-md-3">
        <h4> State</h4>
        <%= f.input :ship_to_state,  collection: ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island","South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming" ] , label: false,  placeholder:"State" %>
      </div>
      <div class="col-md-3">
        <h4>Zip </h4>
        <%= f.input :ship_to_zip, label: false,  placeholder:"Zip" %>
      </div>
      <div class="col-md-3">
        <h4>Country </h4>
        <%= f.input :ship_to_countr, label: false,  placeholder:"Country" %>
      </div>
      <div class="col-md-3">
        <h4>Email </h4>
        <%= f.input :ship_to_email, label: false,  placeholder:"Email" %>
      </div>
      <div class="col-md-3">
        <h4>Shop Phone </h4>
        <%= f.input :ship_to_phone, label: false,  placeholder:"Shop Phone" %>
      </div>
      <div class="col-md-3">
        <h4>Shop Fax </h4>
        <%= f.input :ship_to_fax, label: false,  placeholder:"Shop Fax" %>
      </div>
      <div class="col-md-3">
        <h4>Contact Person </h4>
        <%= f.input :ship_to_contact_person, label: false,  placeholder:"Contact Person" %>
      </div>
    </div row>

  <h2 class="text-center default-form"> ZCar Info (Before V8)
   </h2>
   <div class="row">
     <div class="col-md-3">
       <h4>Type </h4>
       <%=f.input :zcar_type , label: false,  placeholder:"",  priority: [ "240" ], collection: [ "240", "260", "280Z", "not 280ZX", "2 + 2"] %>
     </div>
     <div class="col-md-3">
       <h4>VIN NUMBER </h4>
       <%= f.input :zcar_vin, label: false, placeholder:"Window pillar in front of driver's door"%>
     </div>
     <div class="col-md-3">
       <h4>Year </h4>
       <%= f.input :zcar_year, label: false, placeholder:"Year"%>
     </div>
     <div class="col-md-3">
          <h4>Year Built </h4>
          <%= f.input :zcar_year_built, label: false, placeholder:"Located on driver's door or jamb"%>
      </div>
     <div class="col-md-3">
          <h4>Month Built </h4>
          <%= f.input :zcar_month_built, label: false, placeholder:"Month Built"%>
      </div>
   </div row>

   <h2 class="text-center default-form"> Differential Flange Details</h2>
   <div class="row">
     <div class="text-center">
        <%= image_tag('pic.png') %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>(H) Hole Size  </h4>
        <%= f.input :hole_size,  label: false,priority: [ "8" ], collection: [ "8", "10", "12"] %>
      </div>
      <div class="col-md-3">
        <h4>(P) Pilot Diameter  </h4>
        <%= f.input :pilot_diameter, label: false, priority: [ "50" ], collection: [ "50", "57"] %>
      </div>
    <div class="col-md-3">
      <h4> Does X = Y?</h4>
      <%= f.input :pattern_type, label: false, priority: [ "square" ], collection: [ "square", "rectangle"] %>
    </div>
    <div class="col-md-3">
      <p> If X = Y, the pattern is a square</p>
      <p> If X doesn't equal Y, the pattern is a rectangle</p>
    </div>
  </div>



   <h2 class="text-center default-form"> Transmission Details
    </h2>
    <div class="row">
      <div class="col-md-3">
         <h4>Transmission Type </h4>
         <%= f.input :transmission_type, label: false, placeholder:"",  priority: [ "Camaro/Firebird" ], collection: [ "Camaro/Firebird", "GTO", "Truck", "Cadillac"] %>
       </div>
      <div class="col-md-3">
         <h4>Transmission Details </h4>
         <%= f.input :transmission_detail, label: false, placeholder:"",  priority: [ "Auto" ], collection: [ "Auto", "T56", "TR 6060", "Magnum", "Treme", "TKO", "Bolt on Yoke", "Slip Yoke"] %>
       </div>
     </div row>
    <p> These parts are for LS only - the ZCar small block Chevy kit is a different product. It is $695.00. No parts interchange with the LS. Please use the correct order sheet for the small block V8 conversion </p>

    <h2 class="text-center default-form"> LS Building Blocks (FRT Paid)
     </h2>

     <table class="table table-bordered">
       <thead>
         <tr>
           <th class="col-md-4"> LS ZCar Front mount set</th>
           <th class="col-md-4"> </th>
           <th class="col-md-4"> $295.00 </th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td class="col-md-4">Trans Cross memeber and mount </td>
           <td class="col-md-4">$135.00 </td>
           <td class="col-md-4"><%= f.collection_radio_buttons :trans_crossmember, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
        

         </tr>
         <tr>
           <td class="col-md-4">Driveshaft- ready to install </td>
           <td class="col-md-4">$255.00 </td>
           <td class="col-md-4"><%= f.collection_radio_buttons :driveshaft, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
         </tr>
         <tr>
           <td class="col-md-4">RH Monies <%= f.input :rh_monies, label: false, priority: [ "TR 6060" ], collection: [ "TR 6060", "Magnum", "Tremec", "TKO"] %> </td>
           <td class="col-md-4">Call for price </td>
           <td class="col-md-4"> <%= f.collection_radio_buttons :rh_monies_yes, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
         </tr>
         <tr>
           <td class="col-md-4">Speedometer Drive Unit </td>
           <td class="col-md-4">$345.oo </td>
           <td class="col-md-4"><%= f.collection_radio_buttons :speedometer, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
         </tr>
         <tr>
           <td class="col-md-4">Vital Liquids set </td>
           <td class="col-md-4">$105.00 </td>
           <td class="col-md-4"><%= f.collection_radio_buttons :vital_liquids, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
         </tr>
         <tr>
           <td class="col-md-4">Header Set (NOT California) </td>
           <td class="col-md-4">$385.00 </td>
           <td class="col-md-4"><%= f.collection_radio_buttons :header_set, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
         </tr>
         <tr>
           <td class="col-md-4">AC Compressor & mounting kit </td>
           <td class="col-md-4">$450.00 </td>
           <td class="col-md-4"><%= f.collection_radio_buttons :ac_compressor_mount_kit, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
         </tr>
         <tr>
           <td class="col-md-4">AC Hose Kit (factory AC '77-78) </td>
           <td class="col-md-4">$200.00 </td>
           <td class="col-md-4"><%= f.collection_radio_buttons :ac_hose_kit, [[true, 'Yes'], [false, 'No']], :first, :last %> </td>
         </tr>
         <tr>
           <td class="col-md-4">High Volume fuel pump </td>
           <td class="col-md-4">$175.00 </td>
           <td class="col-md-4"><%= f.collection_radio_buttons :high_volume, [[true, 'Yes'], [false, 'No']], :first, :last%> </td>
         </tr>
         <tr>
           <td class="col-md-4">Are you a Texas Resident? </td>
           <td class="col-md-4"> Sales Tax -- 8.25% </td>
           <td class="col-md-4"> <%= f.collection_radio_buttons :texas_resident, [[true, 'Yes'], [false, 'No']], :first, :last%> </td>
         </tr>
       </tbody>
     </table>

     <p> LS ZCar V8 Conversion components are property of John's Cars, Inc., including the design, parts and procedures; All Rights Reserved. Our Conversion parts are for the purchaser's personal use and not to be duplicated in whole or in part even if altered. Please check with local authorities regarding emission controls where required. John's Cars, Inc. assumes no liability regarding purchaser's installation or use. </p>
     <div class="col-md-12">
        <h4>Additional comments or notes </h4>
        <%= f.input :comments, label: false, placeholder:"" %>
      </div>


    <%= f.submit "Submit Order" %>

  <% end %>
</div>
