<div class="container">
  <%= simple_form_for(@order_sheet) do |f| %>
  <h2 class="text-center default-form"> JCI LS ZCAR ORDER SHEET </h2>
  <p> Please complete as much information as you can. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Illegible, incomplete or <em> unsigned </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO COD's</b>, no personal or company checks, no credit cards and no wire transferes. <b> PARTS ARE NOT RETURNABLE.</b> </p>

  <h2 class="text-center default-form"> Car Owner Information  </h2>
  <div class="row">
    <div class="col-md-3">
      <h4> Name </h4>
      <%= f.input :car_owner_full_name, label: false,  placeholder:"Full Name" %>
    </div>
    <div class="col-md-3">
      <h4>Address </h4>
      <%= f.input :car_owner_address, label: false,  placeholder:"Address" %>
    </div>
    <div class="col-md-3">
      <h4> City</h4>
      <%= f.input :car_owner_city, label: false,  placeholder:"City" %>
    </div>
    <div class="col-md-3">
      <h4> State</h4>
      <%= f.input :car_owner_state, label: false,  placeholder:"State" %>
    </div>
    <div class="col-md-3">
      <h4>Zip </h4>
      <%= f.input :car_owner_zip, label: false,  placeholder:"Zip" %>
    </div>
    <div class="col-md-3">
      <h4>Email </h4>
      <%= f.input :car_owner_email, label: false,  placeholder:"Email" %>
    </div>
    <div class="col-md-3">
      <h4> Home Phone</h4>
      <%= f.input :car_owner_home_phone, label: false,  placeholder:"Home Phone" %>
    </div>
    <div class="col-md-3">
      <h4> Home Phone Hours Available</h4>
      <%= f.input :car_owner_home_hours, label: false,  placeholder:"From xx to xx" %>
    </div>
    <div class="col-md-3">
      <h4>Work Phone </h4>
      <%= f.input :car_owner_work_phone, label: false,  placeholder:"Work Phone" %>
    </div>
    <div class="col-md-3">
      <h4> Work Phone Hours Available</h4>
      <%= f.input :car_owner_work_hours , label: false,  placeholder:"From xx to xx" %>
    </div>
    <div class="col-md-3">
      <h4>Fax </h4>
      <%= f.input :car_owner_fax, label: false,  placeholder:"Fax" %>
    </div>
    <div class="col-md-3">
      <h4> Fax Hours Available</h4>
      <%= f.input :car_owner_fax_hours , label: false,  placeholder:"From xx to xx" %>
    </div>

    <div class="col-md-3">
      <h4>How did you find us </h4>
      <%= f.input :car_owner_find_us , label: false,  placeholder:"",  priority: [ "Internet" ], collection: [ "Internet", "Magazine", "WOM", "Other"] %>
    </div>
  </div row>

    <h2 class="text-center default-form"> Shop or "Ship To" Information  </h2>
    <p> Is the shipping information the same as the car owner information </p>
    <%= f.collection_radio_buttons :same_information, [[true, 'Yes'] ,[false, 'No']], :first, :last  %> </p>
    <div class="row">
      <div class="col-md-3">
        <h4> Name </h4>
        <%= f.input :ship_to_full_name, label: false,  placeholder:"Full Name" %>
      </div>
      <div class="col-md-3">
        <h4>Address </h4>
        <%= f.input :ship_to_address, label: false,  placeholder:"Address" %>
      </div>
      <div class="col-md-3">
        <h4> City</h4>
        <%= f.input :ship_to_city, label: false,  placeholder:"City" %>
      </div>
      <div class="col-md-3">
        <h4> State</h4>
        <%= f.input :ship_to_state, label: false,  placeholder:"State" %>
      </div>
      <div class="col-md-3">
        <h4>Zip </h4>
        <%= f.input :ship_to_zip, label: false,  placeholder:"Zip" %>
      </div>
      <div class="col-md-3">
        <h4>Country </h4>
        <%= f.input :ship_to_countr, label: false,  placeholder:"Country" %>
      </div>
      <div class="col-md-3">
        <h4>Email </h4>
        <%= f.input :ship_to_email, label: false,  placeholder:"Email" %>
      </div>
      <div class="col-md-3">
        <h4>Shop Phone </h4>
        <%= f.input :ship_to_phone, label: false,  placeholder:"Shop Phone" %>
      </div>
      <div class="col-md-3">
        <h4>Shop Fax </h4>
        <%= f.input :ship_to_fax, label: false,  placeholder:"Shop Fax" %>
      </div>
      <div class="col-md-3">
        <h4>Contact Person </h4>
        <%= f.input :ship_to_contact_person, label: false,  placeholder:"Contact Person" %>
      </div>
    </div row>



  <% end %>
</div>
