  <%= link_to "Edit", edit_order_sheet_path(@order_sheet.id) %>

  <h1 class="text-center"> JCI LS ZCAR ORDER SHEET </h1>
  <p class="text-center">Please complete as much information as you can. Phone numbers and Vehicle Identification Number (VIN) (serial number) are essential. Illegible, incomplete or <em> unsigned </em> forms will delay your order! We require payment in advance by <b> Cashier's Check or Money Order </b> in U.S. currency. <b> NO COD's</b>, no personal or company checks, no credit cards and no wire transfers. <b> PARTS ARE NOT RETURNABLE.</b> </p>


  <div class="col-md-12">
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th> Details</th>
          <th>CAR OWNER INFORMATION </th>
          <th>SHOP OR "SHIP TO" INFORMATION  </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th >Name</b></th>
          <td ><%= @order_sheet.car_owner_full_name %> </td>
          <td ><%= @order_sheet.ship_to_full_name %></td>
        </tr>
        <tr>
          <th>Address</b></th>
          <td ><%= @order_sheet.car_owner_address %> </td>
          <td ><%= @order_sheet.ship_to_address %> </td>
        </tr>
        <tr>
          <th >City, State Zip</b></th>
          <td > <%= @order_sheet.car_owner_city %>, <%= @order_sheet.car_owner_state %>  </b><%= @order_sheet.car_owner_zip %> </td>
          <td > <%= @order_sheet.ship_to_city %>, <%= @order_sheet.ship_to_state %> <%= @order_sheet.ship_to_zip %> </td>
        </tr>
        <tr>
          <th> Country </th>
          <td ><%= @order_sheet.car_owner_countr %> </td>
          <td ><%= @order_sheet.ship_to_countr %> </td>
        </tr>
        <tr>
          <th >Email</b></th>
          <td > <%= @order_sheet.car_owner_email %> </td>
          <td > <%= @order_sheet.ship_to_email %></td>
        </tr>
        <tr>
          <th>Home / Shop Phone</th>
          <td> <%= @order_sheet.car_owner_home_phone %> From:  <%= @order_sheet.car_owner_home_hours %> </td>
          <td> <%= @order_sheet.ship_to_phone %> </td>
        </tr>
        <tr>
          <th> Work Phone</th>
          <td> <%= @order_sheet.car_owner_work_phone %> From: <%= @order_sheet.car_owner_work_hours %></td>
          <td> </td>
        </tr>
        <tr>
          <th>Fax</th>
          <td><%= @order_sheet.car_owner_fax %> From: <%= @order_sheet.car_owner_fax_hours %></td>
          <td> <%= @order_sheet.ship_to_fax %> </td>
        </tr>
        <tr>
          <th>How did you find us?</th>
          <td ><%= @order_sheet.car_owner_find_us %> -- <%= @order_sheet.car_owner_where_find_us %></td>
        </tr>
      </tbody>
  </table>
  </div>

  <div class="col-md-6">
    <h4> JCI LS ZCAR </h4>
    <table class="table table-bordered">
      <thead>
      </thead>
      <tbody>
        <tr>
        <th>Type</b></th>
        <td><%=@order_sheet.ls_type%>, <%=@order_sheet.ls_type%></td>
        <th>Year</b></th>
        <td><%= @order_sheet.ls_year%></td>
      </tr>
      </tbody>
    </table>


    <h4> ZCAR INFO (Before V8) </h4>

    <table class="table table-bordered">
      <thead>
      </thead>
      <tbody>
        <tr>
        <th>Type</b></th>
        <td><%=@order_sheet.zcar_type%>, <%=@order_sheet.zcar_type2%></td>
        <th>VIN #:</b></th>
        <td><%= @order_sheet.zcar_vin%></td>
        <th>Year:</th>
        <td><%= @order_sheet.zcar_year %></td>
      </tr>
      <tr>
        <th>Month Built:</b></th>
        <td><%= @order_sheet.zcar_month_built %></td>
        <th >Year Built:</b></th>
        <td ><%= @order_sheet.zcar_year_built %></td>
      </tr>
      </tbody>
    </table>

  <h4>  Differential Flange Details</h4>
    <table class="table table-bordered">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>Bolt Hole size:</b></th>
          <td><%= @order_sheet.hole_size%></td>
          <th>Pilot Diameter:</b></th>
          <td><%= @order_sheet.pilot_diameter %></td>
          <th >Square or Rectangle:</b></th>
          <td ><%= @order_sheet.pattern_type %></td>
        </tr>

      </tbody>
    </table>

    <h4>Transmission Details</h4>
    <table class="table table-bordered">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>Transmission Detail:</b></th>
          <td><%= @order_sheet.transmission_detail %></td>
          <th>Transmission Type: </b></th>
          <td><%= @order_sheet.transmission_type %></td>
        </tr>
      </tbody>
    </table>
    <p> These parts are for LS only - the ZCar small block Chevy kit is a different product. It is $695.00. No parts interchange with the LS. Please use the correct order sheet for the small block V8 conversion
    </p>
    <br>
    <p> Comments: <%= @order_sheet.comments %> </p>

  </div>


<div class="col-md-6">
  <h4> LS BUILDING BLOCKS</h4>
  <table class="table table-bordered ">
    <thead>
      <th class="col-md-3">LS BUILDING BLOCKS</th>
      <th class="col-md-1"> Price </th>
    </thead>
    <tbody>
      <tr>
        <th>LS ZCAR FRONT mount set</th>
        <td>$<%= @order_sheet.mount_set %></td>
      </tr>
      <tr>
        <th >Trans Crossmember and mount</th>
        <td >$<%= @order_sheet.amt1 %></td>
      </tr>
      <tr>
        <th >Driveshaft - ready to install</th>
        <td >$<%= @order_sheet.amt2 %></td>
      </tr>
      <tr>
        <th >Speedometer Drive Unit</th>
        <td >$<%= @order_sheet.amt3 %></td>
      </tr>
      <tr>
        <th >Vital Liquids set</th>
        <td >$<%= @order_sheet.amt4 %></td>
      </tr>
      <tr>
        <th >Header Set (Not California)</th>
        <td >$<%= @order_sheet.amt5 %></td>
      </tr>
      <tr>
        <th >AC Compressor & mounting kit)</th>
        <td >$<%= @order_sheet.amt6 %></td>
      </tr>
      <tr>
        <th >AC Hose Kit (factory AC '77-78')</th>
        <td >$<%= @order_sheet.amt7 %></td>
      </tr>
      <tr>
        <th >High Volume fuel pump</th>
        <td >$<%= @order_sheet.amt8 %></td>
      </tr>
      <tr>
        <th >Subtotal (Parts Freight paid)</th>
        <td >$<%= @order_sheet.subtotal %></td>
      </tr>
      <tr>
        <th >Texas Residents 8.25% Sales Tax +</th>
        <td >$<%= @order_sheet.sales_tax.round(2) %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th >CASHIER'S CHECK = </th>
        <td ><b>$<%= @order_sheet.total.round(2) %></b></td>
      </tr>
    </tbody>
</table>
</div>
<br>

    <p> LS ZCar V8 Conversion components are property of John's Cars, Inc., including the design, parts and procedures; All Rights Reserved. Our Conversion parts are for the purchaser's personal use and not to be duplicated in whole or in part even if altered. Please check with local authorities regarding emission controls where required. John's Cars, Inc. assumes no liability regarding purchaser's installation or use. </p>
    <br>
    <br>

    <h4> Signature _____________________________________ Date___________________________________</h4>
